[2018-11-21 11:11] hft-team-city commented on #155
Released in [Chronicle-Map-3.17.0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.0), [BOM-2.17.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.60)

[2018-11-26 12:54] Orviss opened #168 "UnsatisfiedLinkError on Windows 7 and JDK 11.0.1"
When trying to create Chronicle Map I get the following error:
[code]

Chronicle Map version: `3.17.0`

Usage:
[code]

Works fine with JDK8.

[2018-11-27 20:43] hft-team-city commented on #166
Released in [Chronicle-Map-3.17.0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.0), [BOM-2.17.72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.72)

[2018-11-27 20:43] hft-team-city commented on #155
Released in [Chronicle-Map-3.17.0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.0), [BOM-2.17.72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.72)

[2018-11-27 20:43] hft-team-city commented on #164
Released in [Chronicle-Map-3.17.0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.0), [BOM-2.17.72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.72)

[2018-11-28 16:57] hft-team-city commented on #166
Released in [Chronicle-Map-3.17.0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.0), [BOM-2.17.74](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.74)

[2018-11-28 16:57] hft-team-city commented on #164
Released in [Chronicle-Map-3.17.0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.0), [BOM-2.17.74](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.74)

[2018-11-28 16:57] hft-team-city commented on #155
Released in [Chronicle-Map-3.17.0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.0), [BOM-2.17.74](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.74)

[2018-12-03 08:48] teddie-lee commented on #149
Hello, @leventov . You mentioned that the corrupted data would be purged after `createOrRecoverPersistedTo()` method  is called. But what about the lock state of a segment? Would it be also cleared? Looking forward to your answer, Thanks.

[2018-12-04 18:43] leventov commented on #149
Yes locks are cleared

[2018-12-04 18:47] leventov opened #169 "MapEntryStages.innerDefaultReplaceValue()"
Regarding this commit: https://github.com/OpenHFT/Chronicle-Map/commit/79c7701a52058361150f7d2e7139cbd0d4211a9f, @RobAustin there was a reason why the code was written the way it was - it's that during relocation a different value alignment might be required, therefore a different number of chunks might be needed.

[2018-12-04 19:17] RobAustin commented on #169
The original code was causing a newly added test  to fail. These tests now pass. If you feel there is a mistake please add a falling test.

[2018-12-04 22:55] leventov commented on #169
[code]

[2018-12-04 22:59] leventov commented on #169
Also I found another problem - apparently `ChronicleMapBuilder.entryAndValueOffsetAlignment()` is not respected for _entries_, only for values. Seems like too obvious mistake, but I don't see why it's not

[2018-12-05 07:15] RobAustin commented on #169
Thanks

[2018-12-05 10:58] RobAustin commented on #169
I've added this test above as net.openhft.chronicle.map.ValueAlignmentRelocation#testValueAlignmentRelocation

[2018-12-05 12:34] dpisklov commented on #169
@RobAustin @leventov the test provided passes for me and on teamcity. Does it fail for anyone? If not - what do I need to fix (apart from `ChronicleMapBuilder.entryAndValueOffsetAlignment()` issue)?

[2018-12-05 12:44] dpisklov commented on #169
Actually I see this code:
[code]
the `        int alignment = mh.m().alignment;` part is using the alignment from `ChronicleMapBuilder.entryAndValueOffsetAlignment()` and is used to align entry - is it not what we need?

[2018-12-05 16:05] leventov commented on #169
@dpisklov I didn't test it inside the project. The test the I provided fails for me with `3.17.0` Chronincle Map dependency. Doesn't it fail in CI?

[2018-12-05 16:30] dpisklov commented on #169
@leventov as I mentioned, it passes both on my machine and teamcity

[2018-12-05 16:56] leventov commented on #169
I don't understand how this is possible. I double checked, on my machine this test passes on 3.16.4 and fails 3.17.0. The reason is https://github.com/OpenHFT/Chronicle-Map/commit/79c7701a52058361150f7d2e7139cbd0d4211a9f.

[2018-12-05 16:57] dpisklov commented on #169
Are you using Windows by a chance?..

On Wed, 5 Dec 2018, 16:56 Roman Leventov <notifications@github.com wrote:

[2018-12-05 16:58] leventov commented on #169
Mac OS

[2018-12-05 16:59] dpisklov commented on #169
Wonder if it's OS-specific. My machine and teamcity are Linux...
@RobAustin does test fail on your mac?

On Wed, 5 Dec 2018, 16:58 Roman Leventov <notifications@github.com wrote:

[2018-12-10 11:44] Orviss commented on #168
Using `-Djna.nosys=true` seems to resolve the issue.

[2018-12-10 11:44] #168 closed

[2018-12-15 05:05] complone opened #170 "Is ChronicleMap an improved Concurrent HashMap?"
Hello, Excuse me,because  of I need to refer to this project recently, by looking at the source code of this project:

according to ```ChronicleHash``` class inheritance graph
   - it is responsible for the memory management of each object in the JVM heap area
   - it inherits from HashSegFrament to perform lock segmentation similar to courrent HashMap, in which similar lock segmentation granulari

[2018-12-17 11:30] dpisklov commented on #170
Chronicle Map has no relation to ConcurrentHashMap other than it also uses hashes.
Chronicle Map is a persisted map, implementing ConcurrentMap interface, as it is said in the readme for the project.
Please do NOT use github for asking questions, stackoverflow is the Q&A platform. Github is for real issues.

[2018-12-17 11:30] #170 closed

[2018-12-19 08:58] teddie-lee commented on #149
Thank you for your response, @leventov . However, I have few questions more. 1. Technically speaking, since we have `createOrRecoverPersistedTo()` method, so as long as we call this method at start up each time, then the ChronicleMap will perform as good as before. Is that right? 2.  The only scenario that we need to acquire the inner locks( read lock, update lock, write lock ) manually is so call

[2018-12-19 14:17] leventov commented on #149
1. Should be so, yes. However bear in mind that recovery is an expensive procedure. ChronicleMap could have behaved better in this area. See #79.

2. Not only that. Manual context manipulation allow various interesting things, e. g. https://stackoverflow.com/a/41604599/648955 and https://stackoverflow.com/a/48653792/648955

[2019-01-07 06:38] FDU-SE-LAB opened #173 "Your project OpenHFT/Chronicle-Map is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-10 23:58] ryankenney-dev commented on #149
Is it safe to call `createOrRecoverPersistedTo()` from a second process (after the first has run `createOrRecoverPersistedTo()` once or is in the middle of running it)? Currently we've presuming this is not safe--requiring external locking mechanisms to ensure a single `createOrRecoverPersistedTo()` on startup.

[2019-01-11 10:51] leventov commented on #149
No, it's not safe.

[2019-02-07 14:47] RobAustin commented on #169
I'll run it on mac and let you know.

[2019-02-11 12:31] RobAustin commented on #169
I agree it fails on the mac, it always fails when "firstKeySize=5, second key=1"

[2019-02-11 12:56] RobAustin commented on #169
I have further simplified the failing test above and removed the randomness out of it. This is so that we can focus on fixing a reproducible example, with the same data each time, see below:

[code]

It currently fails with the following issue [when run on the mac ]:

org.junit.ComparisonFailure:
Expected :1234567890123456
Actual   :123456789012Hel

[2019-02-11 18:19] RobAustin commented on #169
@leventov When we use .createPersistedTo(<file>); rather than .create(); this issue is not reproducible, so it would appear that it is related to how the data is persisted, do you have any explanation for this. We would have expected the data to be persisted in the same way regardless of if it was stored to a file or not.

[2019-02-11 18:23] RobAustin commented on #169
@leventov Also, this test is reproducible on Linux, it was not being run, because the surefire plugin expects that all test classes end in "Test", hence the test was being skipped in our CI environment and when run; it was failing on Linux just like it fails on the mac.

[2019-02-11 21:00] leventov commented on #169
@RobAustin could you please test if your simplified test fails with 79c7701a52058361150f7d2e7139cbd0d4211a9f commit reverted?

I may not have time to research this question very soon, but when I was on it I was sure that 79c7701a52058361150f7d2e7139cbd0d4211a9f is wrong. I don't argue that there is some bug that 79c7701a52058361150f7d2e7139cbd0d4211a9f appears to fix (or mask), but it's buggy itse

[2019-03-19 21:29] hft-team-city commented on #170
Released in [Chronicle-Map-3.17.1](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.1), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #168
Released in [Chronicle-Map-3.17.1](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.1), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-25 20:41] ekoutanov opened #176 "Exception accessing non-existent field on JDK12"
Changes introduced in JDK12 have broken `net.openhft.chronicle.core.Jvm`.
Tested on JDK12 EA build 12+33 on macOS.

See relevant stack trace snippet below:
[code]

Also raised [issue](https://github.com/OpenHFT/Chronicle-Core/issues/84) in `chronicle-core`, but it doesn't appear to get any attention

[2019-03-26 11:16] dpisklov commented on #176
duplicate of https://github.com/OpenHFT/Chronicle-Core/issues/84

[2019-03-26 11:16] #176 closed

[2019-03-26 11:17] dpisklov commented on #176
We don't have capacity to support Java releases none of our clients use. If you need support of those please consider getting a support contract, contact us at sales@chronicle.software alternatively we will happily accept pull request with a fix.

[2019-04-03 12:45] hft-team-city commented on #170
Released in [Chronicle-Map-3.17.1](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.1), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #168
Released in [Chronicle-Map-3.17.1](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.1), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-05-08 15:28] hft-team-city commented on #170
Released in [Chronicle-Map-3.17.1](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.1), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:28] hft-team-city commented on #168
Released in [Chronicle-Map-3.17.1](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.1), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-09 11:28] #169 closed

[2019-05-09 13:40] randyprager opened #177 "unnecessary object allocation implicit iterator"
When using the ExternalMapQueryContext programming model we see unnecessary object allocations.

**Implicit List Iterator Creation**

Here is the allocation stack:

![image](https://user-images.githubusercontent.com/1806651/57455756-d85a2700-7239-11e9-8534-0f44d3cfd366.png)

And here is the code from net.openhft.chronicle.map.impl.CompiledMapQueryContext:

``
@Override
public <T extends ChainingIn

[2019-05-09 16:03] peter-lawrey commented on #177
Escape analysis usually removes this but profilers can infer with escape analysis, but as you say it's easily removed as it's an `ArrayList`.

[2019-05-09 16:03] #177 closed

[2019-05-10 00:37] hft-team-city commented on #177
Released in [Chronicle-Map-3.17.2](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.2), [BOM-2.17.244](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.244)

[2019-05-10 00:38] hft-team-city commented on #176
Released in [Chronicle-Map-3.17.2](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.2), [BOM-2.17.244](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.244)

[2019-05-10 00:38] hft-team-city commented on #169
Released in [Chronicle-Map-3.17.2](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.2), [BOM-2.17.244](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.244)

[2019-05-16 23:23] udaysagar2177 opened #178 "ChronicleHashCloseOnExitHook is causing more harm than good"
Hi,

**Requirement:**
We want to control the JVM shutdown process so that we can do certain pre-shutdown actions like transform or backup the data etc. Our pre-shutdown actions involves reading the current Chronicle maps or creating new maps.

**Problem:**
Since ChronicleHashCloseOnExitHook is a JVM Shutdown Hook, the `closeAll()` call is triggered immediately after JVM receives a shutdown signal

[2019-05-17 16:23] johndavids opened #179 "Intense CPU while reading from disk"
We are making some tests with multiple thread reads from a persisted to disk chronicle map.
When the map is in memory 100%, (due Linux file cache), the performance is as expected, similar with using a heap based map.
The first read from disk, indicated a lot of IO (around 30 GB, that was normal) and a lot of CPU. The CPU part was a little bit strange.
We made another test, with the map only a litt

[2019-05-17 16:29] leventov commented on #179
If you open a ChronicleMap with a `createOrRecoverPersistedTo()` call, it checks the integrity of the entire map. `createPersistedTo()` should allow avoiding that.

[2019-05-17 16:42] johndavids commented on #179
We did not open with createOrRecoverPersistedTo(). And between tests, the map stayed open.

[2019-05-17 18:07] johndavids commented on #179
One more detail. We were reading from around 20 threads from 2 opened ChronicleMap instances (each with it's own file). One one was a little bit out of the file cache (around 100 MB). All tests, read the same keys each time.

[2019-05-20 15:16] jackmalkovick commented on #179
We investigated and it was because of serialization, we tried using FST instead of the default and worked a little bit better. It's a little bit strange that when the map was in the file cache, even the default works very fast. It still deserializes (even if it's memory access) right?

[2019-05-20 15:23] dpisklov commented on #179
@jackmalkovick yes, because it's an offheap memory. You can't access objects outside of Java heap without deserializing them and putting them on the heap first.
PS I assume this issue can now be closed, feel free to reopen if you disagree

[2019-05-20 15:23] #179 closed

[2019-05-22 06:59] jackmalkovick opened #180 "Storing Integers as values"
We are trying to insert (String, Integer) values in a Chornicle map.
We of course did not configure an avgValueSize().

It seems we get an error because chronicle tries to write on 2 bytes the Integer 4 byte value.

[code]

[2019-05-22 11:37] dpisklov commented on #180
Would you be able to provide a failing test case here to see how you create/interact with the map?

[2019-05-22 11:42] RobAustin commented on #128
closing as I feel this has been answered.

[2019-05-22 11:42] #128 closed

[2019-05-22 11:43] RobAustin commented on #132
can you retest with the last version and let us know if it still fails.

[2019-05-22 11:45] RobAustin commented on #122
closing as there has been no response for 2 years.

[2019-05-22 11:45] #122 closed

[2019-05-22 11:48] RobAustin commented on #78
closing as we no longer provide support to chronicle map v2

[2019-05-22 11:48] #78 closed

[2019-05-22 11:49] RobAustin commented on #92
closing as we no longer provide support to chronicle map v2

[2019-05-22 11:49] #92 closed

[2019-05-22 11:49] RobAustin commented on #74
closing as we no longer provide support to chronicle map v2

[2019-05-22 11:49] #74 closed

[2019-05-22 11:50] RobAustin commented on #34
closing as we no longer provide support to chronicle map v2

[2019-05-22 11:50] #34 closed

[2019-05-22 11:50] RobAustin commented on #86
closing as we no longer provide support to chronicle map v2

[2019-05-22 11:50] #86 closed

[2019-05-22 11:53] RobAustin commented on #123
Do you still get this issue with the latest version?

[2019-05-22 12:58] jackmalkovick commented on #180
Uh... it was because of my custom marshaller. I thought that Chronicle will go around it for known types.
I have a marshaller for Serializables.
Can I configure Chronicle to use my marshaller, but prohibit him from checking the constant size for known Integer type?

[2019-05-22 13:00] RobAustin commented on #180
no - if you provided your marshaller it will use that.

[2019-05-22 13:00] #180 closed

[2019-05-22 13:00] dpisklov commented on #180
Can I ask why you want to use custom marshaller for Integer?

[2019-05-22 13:03] jackmalkovick commented on #180
The marshaller is used for Serializable and uses FSTObjectOutput to write objects. It was the one who "compressed" the Integer. Of course I did not intend to used it for Integer classes.
If I'm forced to use my marshaller for Integer also, why can't I specify a different value size than the fixed 4 bytes?

[2019-05-22 13:07] dpisklov commented on #180
First of all, why are you forced to use your marshaller for Integer? If your map is String -> Integer I would suggest you not to specify the value marshaller at all and default will be used.
Secondly, if you still want to do that, likely your marshaller reports incorrect size. Your marshaller should be implementing the following interface:

[code]

My guess is that size() method implementaion in y

[2019-05-22 13:10] jackmalkovick commented on #180
You are right. Thank you for your advice!

[2019-05-22 13:16] dpisklov commented on #180
No problem

[2019-05-23 03:45] udaysagar2177 commented on #178
@leventov Could you please take a look at this?

[2019-05-27 16:28] leventov commented on #178
Looks reasonable, but I'm not the maintainer of this repo

[2019-05-28 07:30] jackmalkovick opened #181 "ClassCastException using ByteBuffer as key for ChronicleMap"
I tried a very simple example where I try to write int -> ByteBuffer and reuse the array while reading the values from the map.

[code]

Unfortunately I get an unexpected `ClassCastException`, because Chronicle expected a `byte[]`

[code]

[2019-05-28 11:44] RobAustin commented on #181
[code]

[2019-05-28 11:44] #181 closed

[2019-05-29 00:21] udaysagar2177 commented on #178
@leventov Thanks!

@RobAustin / @peter-lawrey Would you mind looking at this issue?

[2019-05-29 11:17] dpisklov commented on #178
@udaysagar2177 PR would be good, with default behaviour unchanged

[2019-06-04 06:30] duoduo12 opened #183 "UTFDataFormatException happens when read seariazble"
chronicle map Version 3.17.1, chronicle bytes 2.17.20

We have a chronicle map as a concurrent hash map, string as key and a seriazable class instance as value. The map is stateful cache for our app, and have lots of updates on the properties of the value instance. Generally it works well, but after serveral days it will throw the following exception, any sugguestion? Thanks

java.lang.RuntimeExce

[2019-06-04 10:04] RobAustin commented on #183
it looks like the data that it was reading became corrupted. Are you able to provide a reproducible test case? My initial guess, and it is just a guess, it is possible that it is related to where the data was written into the map, and at this stage, I would ignore time-related or concurrency issues. In other words, once it fails if you replay the same records into the map in the same order, does i

[2019-06-13 19:56] #178 closed

[2019-06-18 11:13] hft-team-city commented on #178
Released in [Chronicle-Map-3.17.3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.3), [BOM-2.17.262](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.262)

[2019-06-18 11:13] hft-team-city commented on #181
Released in [Chronicle-Map-3.17.3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.3), [BOM-2.17.262](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.262)

[2019-06-18 11:13] hft-team-city commented on #128
Released in [Chronicle-Map-3.17.3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.3), [BOM-2.17.262](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.262)

[2019-06-27 21:55] totalslacker opened #185 "Seeing significant performance slowdown with very large maps"
I'm not sure what the theoretical upper limit is with ChronicleMap?

The key we are using is a LongValue and the value is a struct of two ints and a long. With allocating and filling a map with a few million entries we seem to get good performance. However, when I bring the size up to something closer to what we need in production (3 billion entries) we are seeing a performance slowdown of about 1

[2019-06-28 07:19] RobAustin commented on #185
In the map builder, try varying the number of entries you have set in the builder. Then re-test each time you change it. As this will effect performance, on a put(k,v) if the map gets too full it will start to take time to find an empty slot and on a get(k) it will have to scan more entries when it is full - We use the open addressing algorithm https://en.wikipedia.org/wiki/Open_addressing <https:

[2019-06-30 19:07] totalslacker commented on #185
I will send an email to sales shortly. In the meantime, I tried a test of inserting and getting about 26 million key/values across a range of map sizes, trying both ram only and persisted maps. This is on a 24 core machine with 384GB RAM that is otherwise idle. Disk storage was EBS (in AWS). The outcome is:

[code]

Get times seem to be fairly consistent but put times increase with map size. This

[2019-07-01 07:32] RobAustin commented on #185
I'll get back to you regarding your question about the none persisted map. I suggest you rerun your tests with the number of entries closer to the 3 billion that you have in production, rather than the 26 million you have in your test above. In addition, when running the test I suggest you monitor the page cache hit/misses to see if there is a correlation with your slow down.

On a side note, we h

[2019-07-01 20:11] totalslacker commented on #185
OK thank you! I the case above I had set the map size to the value in the "Max Entries" column, then just loaded 26 million for testing (loading 3.5 billion takes close to two hours). I did, however, do the full load last night (on a non-perisisted map) with map set to the 4 billion entries. The average put time was 0.0010381 mS and the get was 0.0001057 mS (so it was slightly slower than the 0.00

[2019-07-05 14:10] amandeep0440 opened #186 "Failed to acquire the lock"
Hi,

I am getting the below error sometimes, when i am trying to add about 1.5 million objects in the map using about 20 threads.
each thread fetches a list of objects and adds it to the map:
`dataList.parallelStream().forEach(data -> offHeapCAMap.put(data.getId(), data));`

I am persisting the map to the disk and used by only single JVM. I delete the persisted file every time a new process starts

[2019-07-05 14:11] amandeep0440 commented on #186
I dont think it is related to volume of objects. I noticed its happening with 30K objects too.

[2019-07-17 20:37] jhgc165 opened #187 "Entries not appearing in map."
I am learning to use Chronicle-Map and I have encountered behavior that I cannot explain.

When I try to 'put' into the map with multiple threads on the same JVM concurrently, if I use more than 11 threads, not all the entries are placed into the map (and I do not receive any errors). I have summarized the behavior in the following table:

| # of Threads | # of entries 'put' per Thread  | Expected

[2019-07-17 20:51] RobAustin commented on #187
Are you using the latest version of chronicle-map

[2019-07-17 20:59] jhgc165 commented on #187
Yes, I am using version 3.17.3.

[code]

[2019-07-17 21:33] dpisklov commented on #187
You have threadgroupname+i code twice - been you created a thread and then
when you create a key to put value. Let's call those i1 and i2.
So, when your i1=1 and other i2=11 (and other variations, but it obviously
starts as soon as you go to 11 and above) you have key equal to the key of
i1=11 and i2=1, and that's XXX111 where XXX is a thread group name, which
means the entry is indeed placed into

[2019-07-18 11:37] #187 closed

[2019-07-26 19:48] sarkissow opened #188 "java.lang.IllegalMonitorStateException: Expected update lock"
I'm getting the exception when trying to call compute method on a same file from multiple processes.
Anything wrong with the way I'm doing that?

<pre>
public class ChronicleTest {

    public static void main(String[] args) throws IOException {
        ChronicleMapBuilder<String, Long> builder =
                ChronicleMapBuilder.of(String.class, Long.class)
                        .name("test")

[2019-07-26 20:05] sarkissow commented on #188
Ah, I guess createOrRecoverPersistedTo is the source of the trouble? Am I expected to use createPersistedTo for this purpose?

[2019-07-30 16:53] jeveloper opened #189 "Is there a simple replication for non Enterprise license?"
Thanks!

[2019-07-30 16:58] RobAustin commented on #189
Replication between processes on the same machine is part of the open source version, however to replicate between hosts you have to have access to chronicle-map-enterprise , this is covered by a commercial licence.

Could you email us at sales@chronicle.software and tell us what organisation you are from.

[2019-07-30 17:03] jeveloper commented on #189
@RobAustin  thanks Rob
I plan to experiment using your library in the next 2 months and build a POC. I can reach out when its appropriate.

[2019-07-30 17:03] #189 closed

[2019-08-02 12:25] ahornace opened #190 "Outdated data access documentation"
Hello,

https://github.com/OpenHFT/Chronicle-Map/blob/master/docs/CM_Tutorial_DataAccess.adoc refers to `HeapBytesStore#uninitialized`, `HeapBytesStore#init`, `HeapBytesStore#uninit` methods which are no longer present in `3.17.4`.

Thanks.

[2019-08-26 07:16] sean24z opened #192 "java.lang.IllegalStateException"
[code]
Simply run this code twice ,then you will get exception like:
[code]
The file size changed from  62.8MB to 83.8MB after the second time this demo finished

Tested on macOS 10.14.6  java version "1.8.0_201"
also on Linux 3.10.0
chronicle-map version 3.17.3

[2019-08-28 10:27] sean24z commented on #192
use createPersistedTo instead...

[2019-08-28 10:27] #192 closed

[2019-08-30 06:52] chebacca opened #193 "Does it support expiration?"

[2019-08-30 07:04] RobAustin commented on #193
no, it does not support expiration, please ask questions on stack overflow as we prefer to reserve GitHub issues for issues. Thanks in advance

[2019-08-30 07:04] #193 closed

[2019-09-02 08:13] reshadde opened #194 "Concurrency issue"
Hello everybody!

I am currently evaluating Chronicle-Map as an off heap cache solution for our SSP. For now i am using read-only caches to simplify the integration. I have a scheduled job that creates,  persists and uploads the map-file to a distributed storage for our core instances to pick up and load the memory mapped file off heap.

1. Job runs jdk-8u181
2. Core instances run OpenJDK 11 on Op

[2019-09-16 12:38] reshadde commented on #194
@leventov any feedback?

[2019-09-16 20:24] edudar opened #195 "Do not store full class names in file-based map"
I didn't notice this initially but when my data model files moved in between packages during refactoring, I wasn't able to load map because of `ClassNotFoundException` as `valueClass` was pointing to the previous package. `Marshaller` is custom and is able to read values before and after refactoring.

This is the way I initialize the map:
[code]

I think it would be helpful and indeed more flexibl

[2019-09-16 23:50] JerryShea commented on #194
@reshadde can you reproduce with a unit test that you can share please?

[2019-09-17 13:59] mortterna commented on #183
We stumbled on the same problem using latest version (3.17.4). After downgrading to version 3.16.4 the problem went away. We have a reliable way to reproduce the problem but it involves a json-document and jackson deserialization to our java model.

[2019-09-17 15:29] samimakicc commented on #183
Two ways to replicate the bug.
First one throws UTFDataFormatException and the second one simply corrupts the value.
[code]

[code]

[2019-09-20 13:19] peter-lawrey opened #196 "Simplified support for Marshllable and BytesMarshallable in Map"
Add support for generic ReaderWriters.

Next,

- use double buffering instead of having to serialize the object twice.
- make these reader/writers the default unless overwritten.

[2019-09-25 11:49] #183 closed

[2019-09-25 23:42] edudar opened #197 "Persistent map file using custom marshaller is significantly larger than a using built-in one"
I created two maps. One is `ChronicleMap<IntValue, Boolean>` and another one is `ChronicleMap<IntValue, CustomData>`. There's also a custom marshaller for `CustomData` that writes 0 bytes effectively creating a set from a map. That is confirmed in `preMapConstruction()` when `averageValueSize` is calculated and it is `0.0`. After that, I initialize both maps with 2M, 20M, 200M, and 2B entries on M

[2019-09-27 06:56] asadganiev opened #198 "ERROR net.openhft.chronicle.map.ChronicleMap - Checksum doesn't match"
Hi,

I am creating ChronicleMap with 250 million entries.

[code]

And closing it before exiting program. But unfortunately each time when I
relaunch or resume program it is printing an error:

[code]

What am I doing wrong and how to fix it?

[2019-09-27 07:51] RobAustin commented on #198
could you provide a simple test case that reproduces this issue? It is best if you can submit the test case via a pull request. Thanks

[2019-09-27 08:11] asadganiev commented on #198
I am afraid it is a bit hard to reproduce it without showing production code. Because all my tests
pass without any problem. Could it be because of the ChronicleMap was not able to close itself in time before program exits?

[2019-09-27 08:53] RobAustin commented on #198
It's going to be very hard for us to fix a problem that can not be reproduced.

I would suggest on a graceful shutdown that you first close the chronicle map and you should only close the map once all other threads have finished writing to the map.

[2019-09-27 09:00] asadganiev commented on #198
This is really good suggestion. It seems some threads keeps putting data after it is ChronicleMap closed. Let me check it. If problem wouldn't be resolved, I will create MCVE, and will pull request.

[2019-09-27 09:19] RobAustin commented on #198
Ok - I'll close the issue, for now, let's re-open it later if this does not fix it.

[2019-09-27 09:19] #198 closed

[2019-10-03 16:13] hft-team-city commented on #183
Released in [Chronicle-Map-3.17.6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.6), [BOM-2.17.396](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.396)

[2019-10-03 16:13] hft-team-city commented on #198
Released in [Chronicle-Map-3.17.6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.6), [BOM-2.17.396](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.396)

[2019-10-10 07:47] rahulsolanki-infinity commented on #1
I am running on ubuntu and facing the same issue

[2019-10-17 05:18] hft-team-city commented on #183
Released in [Chronicle-Map-3.17.6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.6), [BOM-2.17.407](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.407)

[2019-10-17 05:18] hft-team-city commented on #198
Released in [Chronicle-Map-3.17.6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.17.6), [BOM-2.17.407](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.407)

[2019-10-31 13:19] gowthamgutha opened #199 "File is not locked in Linux"
I am running a persistent chronicle map and I am able to delete the map file when the program is up and running.

The map continues its put() operation but the contents do not get flushed to the disk even after the program exits.

When the program is restarted, the map size is 0.

In Windows, I am able to see that the map is locked i.e. it cannot be deleted while it is being used. The same doesn't

[2019-10-31 14:35] #199 closed

[2019-11-13 14:06] gowthamgutha opened #200 "Chronicle map not persisting as many entries as it has put"
I am using a persistent map and the target entries are reached (i.e target_entries * max_bloat_factor).

Whenever there is IllegalStateException due to reaching of target_entries, I am logging the error

[code]
The map size is getting around 2000 with the following configs:

1. average_value_size = 1000
2. target_entries = 100
3. max.bloat.factor = 4.0
4. allow_segment_tiering = true

When the tar

[2019-11-13 21:38] danjmarques opened #201 "ClassCastException: CompiledMapIterationContext cannot be cast to SetEntry"
I'm seeing the following exception when using version 3.17.6 of Chronicle map.

[code]

In ```SetFromMap.lambda$forEachEntry$1``` the type of ```e``` is ```CompiledMapIterationContext```. which is, as far as I can tell, is not a ```SetEntry```.

Of course, it is possible that I'm doing something wrong - I've just started using this software.   Sample program below:

[code]
[code]

[2019-11-25 12:53] Serverfrog opened #202 "Native Build with GraalVM"
When i try to build a Application using Chronicle-Map with GraalVM's native-image it fails.

The SubstrateVM (the native Building tool) can build with Access to Native Memory
[https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md#unsafe-memory-access](Unsafe Memory Access)

Using a native build Application with Chronicle-Map could improve an Application an incredible much.

Follow

[2019-11-27 12:58] charj commented on #1
Facing the same issue on ubuntu with intellij

[2019-11-28 08:15] gowthamgutha opened #203 "Chronicle map crashed JVM with SIGSEGV"
**Version: 3.17.6**

[code]

**The full log is:**

[code]

[2019-12-02 19:26] marinkobabic opened #204 "msync failed: error code 5 when running on docker openjdk:8-jre-alpine"
[36mrto_1  |[0m java.io.IOException: msync failed: error code 5
[36mrto_1  |[0m 	at net.openhft.chronicle.hash.impl.util.jna.PosixMsync.msync(PosixMsync.java:37) ~[app.jar:?]
[36mrto_1  |[0m 	at net.openhft.chronicle.hash.impl.VanillaChronicleHash.msync(VanillaChronicleHash.java:855) ~[app.jar:?]
[36mrto_1  |[0m 	at net.openhft.chronicle.hash.impl.VanillaChronicleHash.msync(VanillaChronicl

[2019-12-02 20:42] dpisklov commented on #204
@marinkobabic when using docker you must ensure you use --ipc="host" and we only tested putting files on the bind-mounted folders from the host (i.e. -v /host/dir/1/:/container/dir ). Please try this and let us know.

[2019-12-02 21:37] dpisklov commented on #202
@Serverfrog you probably need to report this to Graal, not us. Graal compiler can't figure out how to work with Unsafe but it works fine with Graal JIT meaning there's no problem with the code.

[2019-12-03 07:31] Serverfrog commented on #202
@dpisklov , this is not entirely true.
Yes Graal (or bettet the Substrate VM) can't Figuren Out what IT should do. But it can be told what it should do.
See this from the Substrate VM https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md#unsafe-memory-access

Beside that, this Issue from that comment on
https://github.com/oracle/graal/issues/304#issuecomment-379489570

[2019-12-03 12:00] dpisklov commented on #202
@Serverfrog feel free to submit a PR, we currently have no clients who would use SubstrateVM, nor we have capacity to learn how to tell it what to do.

[2019-12-03 20:21] marinkobabic commented on #204
@dpisklov I tried host, shared, private and none of them worked. Any idea? If you wan't me I can prepare a example for your. I use docker-compose in my tests.

`version: '3.7'
services:
  rto:
    image: "regtechone/rto:latest"
    ports:
      - "8080:8080"
    volumes:
      - C:/temp/mytest/data:/data:rw
      - C:/temp/mytest/import:/import
    ipc: host

`

[2019-12-03 20:32] dpisklov commented on #204
@marinkobabic are you able to test on Linux?
None of us ever used/tested it on Windows, so it might well be a Windows-specific issue which we can't really test...

[2019-12-03 20:52] marinkobabic commented on #204
Can do the check also by running docker on Linux. Will let you know how it
goes.

On Tue, Dec 3, 2019, 21:32 Dmitry Pisklov <notifications@github.com> wrote:

[2019-12-05 00:00] marinkobabic commented on #204
On Linux the same code works fine by using the ipc:host

Any way to get it running on Windows docker as well?

[2019-12-05 01:42] dpisklov commented on #204
It's the question for docker I'm afraid...

[2019-12-06 13:58] perfcoder opened #205 "How to prevent garbage while using Chronicle Map"
Hello I have pretty straightforward code.

Continuation of [Using Chronicle Map producing garbage while using Streams API](https://stackoverflow.com/questions/59198155/using-chronicle-map-producing-garbage-while-using-streams-api)

[code]
I am just creating 100 million users with random balance. And using IntValue as an id. After each 100 insertion I am getting max balance from users. The problem

[2019-12-06 14:08] perfcoder commented on #205
I don't know `Object`, `char[]`, `String[]` is growing.

I am using java version 8
[code]

and gc log

[code]

[2019-12-07 08:11] perfcoder commented on #205
But I change the code to the one @leventov recomended

[code]

[2019-12-07 10:37] leventov commented on #205
Note that you can locate the places where the garbage is produced using https://github.com/jvm-profiling-tools/async-profiler

[2019-12-07 10:52] perfcoder commented on #205
Thanks Roman,
Andrey Pangin's async-profiler? I haven't tried it yet, but it seems it is high to learn using this profiler.
By the way I can profile even off-heap with it, right?

[2019-12-21 10:24] perfcoder commented on #205
The problem was solved by just changing the `User` instance from heap instance to native reference instance.

`private static final User user = Values.newNativeReference(User.class);`

And setting the value of the `User` is replaced to:

[code]

and method `maxBalance` as well:

[code]

and launching parameters:

[code]

<img width="1199" src="https://user-images.githubusercontent.com/38123200/713

[2019-12-21 10:24] #205 closed

[2020-01-07 03:31] wangfajun opened #206 "Caused by: java.lang.ClassNotFoundException: net.openhft.chronicle.core.values.LongValue$$Heap"
<dependency>
   <groupId>net.openhft</groupId>
   <artifactId>chronicle-map</artifactId>
   <version>3.17.8</version>
</dependency>

Then have following "application" main class:

@SpringBootApplication
@EnableAutoConfiguration
public class Application {
    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);

        LongValue key = Values.newHeapInsta

[2020-01-08 14:26] dpisklov commented on #206
@wangfajun you have some classpath issues, check your maven dependencies. Jvm class is from the chronicle-core project which is direct dependency of chronicle-map.

[2020-01-08 14:26] #206 closed

[2020-01-13 16:27] #201 closed

[2020-01-13 16:27] dpisklov commented on #201
Fixed, thanks for reporting

[2020-02-07 17:02] ypriverol opened #208 "How to open an existing chronicleMao database"
Hi:
I haven't been able to find an example code showing how to load into memory an existing chroniclemap database. Is that possible?

Thanks in advance

[2020-02-10 14:55] dpisklov commented on #208
See [here](https://github.com/OpenHFT/Chronicle-Map/blob/master/docs/CM_Tutorial.adoc#persisted-chronicle-map)
Please use stackoverflow for questions

[2020-02-10 14:55] #208 closed

[2020-02-14 22:44] bhushankh opened #209 "Chronicle map crashed JVM with SigSegv"
We are using the chronicle map with large dataset. It is consistently crashing the JVM in one of the environments with a SIGSEGV. Stack below. This is a Redhat with OpenJDK build 1.8.0_232-b09.

---------------  T H R E A D  ---------------

Current thread (0x00007f3a282f8000):  JavaThread "BaseServer_WorkingThread-8" [_thread_in_vm, id=23436, stack(0x00007f399fb04000,0x00007f399fc05000)]

siginfo

[2020-02-14 23:34] dpisklov commented on #209
What it has to do with Chronicle map? In the stack trace you have Chronicle
Queue failing to write some data, and my guess is it's because it runs out
of disk space.

[code]

On Fri, 14 Feb 2020, 22:44 bhushankh, <notifications@github.com> wrote:

[2020-02-15 00:09] bhushankh commented on #209
Thanks for taking a look. The partition we are using has 16TB free. Will double check and see if that is an issue.

[2020-02-17 10:52] dpisklov commented on #209
What file system is that partition?

[2020-02-24 06:11] anirudh-striim commented on #209
The storage is xfs.

[2020-02-24 06:12] anirudh-striim commented on #209
And it is not running out of disk space. We changed the storage to a larger disk and hit the same issue.

[2020-02-24 13:09] dpisklov commented on #209
Superseded by the issue in Chronicle-Queue

[2020-02-24 13:09] #209 closed

[2020-02-27 18:00] Security3rd opened #210 "Please avoid using libraries with CVEs"
I noticed some of your libraries contained CVEs. To prevent potential security risks it may cause, I suggest to update the library dependency. Details are listed below:
* **Vulnerable Library Version:** com.thoughtworks.xstream : xstream : 1.4.9
  **CVE ID:** [CVE-2019-10173](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10173), [CVE-2017-7957](https://cve.mitre.org/cgi-bin/cvename.cgi?n

[2020-03-01 04:25] ksiu commented on #186
I'm also getting the same error frequently.  Any solution yet?

[2020-03-01 07:54] RobAustin commented on #186
Where is the chronicle map file stored. Is it on the local disk. ?

[2020-03-02 18:59] ksiu commented on #186
Yes, it's on the local disk

[2020-03-04 12:18] RobAustin opened #211 "Added support to check the percentageFreeSpace() and remainingAutoResizes()"
added the following methods, these can be called periodically to check how much space is remaining in the map.

[code]

[2020-03-04 12:31] #211 closed

[2020-03-25 15:07] RobAustin opened #212 "bloat factor not being preserved between restarts"
see the following test case net.openhft.chronicle.map.BloatFactorTest#bloatFactorTest

[code]

[2020-03-25 15:08] #212 closed

[2020-03-25 16:25] hft-team-city commented on #212
Released in [Chronicle-Map-3.19.4](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.4), [BOM-2.19.45](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.45)

[2020-03-27 15:11] mrbald opened #213 "ChronicleMap flag skipCloseOnExitHook gets reset to false when loading map from and existing file"
The flag added in the PR [184](https://github.com/OpenHFT/Chronicle-Map/pull/184) does not survive close/open.
When opening an existing file it uses the default value from the map unmarshaller.

I found it quite confusing (and I don't think it has been mentioned clearly in the docs) that the map persists the settings it has been created with, silently ignoring whatever is passed on the builder.
In

[2020-03-31 07:13] mrbald commented on #124
Having the same errors with version 3.19.3. Gracefully closing the store on shutdown, definitely not writing anything while closing.
On restart - dozens of "wrong lowest free chunk for tier with index ..." errors.
Debian 9 / OpenJDK 8.

[2020-04-01 18:27] dpisklov commented on #124
@mrbald can you provide a reproducible test case?

[2020-04-13 14:23] RobAustin opened #214 "Auto resize is zero upon a restart of replicated map"
We had the following issue reported - Auto resize is zero upon a restart of replicated map

The following test passes, so awaiting feedback from the client:

[code]

[2020-04-24 01:13] nitina82 opened #215 "Getting tools.jar issue with Chronicle-Map Release version"
Hello Team,

I am trying to use Chronicle Map in my java project. To be clear i am referring latest version 3.19.4.

Getting below error.
 There was a problem while copying the artifact [com.sun:tools:1.8.0_241:jar] file [/C:/Program Files/Java/jdk1.8.0_241/lib/tools.jar] to the application local repository

Caused by: java.io.FileNotFoundException: Source 'C:\Program Files\Java\jdk1.8.0_241\jre\.

[2020-04-24 17:19] dpisklov commented on #215
Duplicate of #1
There's the whole thread there on how to debug this issue. Once you followed all suggestions and if you still have an issue please describe it there in details (hint: statement "still doesn't work" doesn't have enough details).
As for the second problem - it is not ours, see https://blog.sonatype.com/central-repository-moving-to-https - we updated our links subsequently.

[2020-04-24 17:19] #215 closed

[2020-04-24 23:08] Cotton-Ben opened #216 "PingPong CAS latency test seems to broken ..."
Hi Chronicle.

I am having trouble with the old JPMorgan test using ChronicleMap as off-heap operand for (bond coupon mutations) exercising latency of CAS operators (across 2 JVM processes).

https://github.com/OpenHFT/Chronicle-Map/blob/master/src/test/java/net/openhft/chronicle/map/fromdocs/pingpong_latency/PingPongCASLeft.java

Running this Test on Windows10 laptop (not Linux /dev/shm!), using

[2020-04-25 10:51] Cotton-Ben commented on #216
Disregard!  Now working.

[2020-04-25 10:51] #216 closed

[2020-04-28 13:38] Menzani commented on #186
Could you share more details, or even a complete example reproducing the issue?

[2020-05-09 15:51] muhdkhokhar opened #218 "Storing Huge object in the chronicle map"
Hi
Lets say I have a process and end of the process I want to store all the objects (can be 100-10000 records with many different objects)

e.g

Map<String,Object>

Would it work? Also if I store 1 million of such record whats the possible size the file would be

[2020-05-09 16:11] RobAustin commented on #218
Yes it should work. However have you considered using a chronicle queue instead, as it is better at storing a large number of dynamically sized objects. This is assuming you don’t have to index them.

Alternatively, you could store the values into a queue and also have a chronicleMap<string,long> where the long is the chronicle index into the queue for each entry.

Rob

[2020-05-09 16:27] muhdkhokhar commented on #218
Thanks I'll try

On Sat, 9 May 2020, 17:11 Rob Austin, <notifications@github.com> wrote:

[2020-05-10 12:50] muhdkhokhar commented on #218
I tried it and it works
But I have one isues

lets say today I store person in the map with values

String name;
String address;

Tomorrow if I add

int age

if I retreive object back it throws an error.

Is there anyway I can support backward compatible?
so if I change the object in future the data would be returned.

[2020-05-10 13:04] RobAustin commented on #218
yes - there is - assuming you are using a simple DTO, then make it "implement net.openhft.chronicle.wire.Marshallable". Please ask all future questions on stack overflow.

[2020-05-10 13:04] #218 closed

[2020-05-21 10:52] RobAustin opened #219 "Cleaned up shutdown code so exceptions where not logged during shutdown"
An exception was being logged from OldDeletedEntriesCleanupThread during a shutdown

[2020-05-21 10:55] #219 closed

[2020-05-23 18:52] richschaaf opened #221 "Exception when running on a system where the "noexec" attribute is set for /tmp"
Hi all,

When I run my ChronicleMap application, it throws an exception (see below for the back trace).

If I change the /tmp file system to remove the "noexec" attribute, the application works.

Is there a way to configure (for example, through the ChronicleMap API or through environment variables) where the jna objects are created?

My environment:
- Ubuntu 18.04
- OpenJDK 11
- ChronicleMap 3.19

[2020-05-26 14:43] dpisklov commented on #221
This is a well-known issue related to JNA library (that is, it's not Chronicle Map, or the Chronicle stack as a whole, issue). A few links:
* [one](https://support.cloudbees.com/hc/en-us/articles/218233908-Unable-to-start-Jenkins-due-to-tmp-directory-mounted-with-noexec-option)
* [two](https://support.cloudbees.com/hc/en-us/articles/215281717-Jenkins-fails-to-start-with-JNA-error)
* [three](https:

[2020-05-26 14:43] #221 closed

[2020-06-02 16:32] hft-team-city commented on #219
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.176](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.176)

[2020-06-02 16:32] hft-team-city commented on #216
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.176](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.176)

[2020-06-02 22:30] hft-team-city commented on #216
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.179](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.179)

[2020-06-02 22:30] hft-team-city commented on #219
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.179](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.179)

[2020-06-03 07:17] hft-team-city commented on #219
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.180](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.180)

[2020-06-03 07:17] hft-team-city commented on #216
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.180](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.180)

[2020-06-03 08:44] hft-team-city commented on #216
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.181](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.181)

[2020-06-03 08:44] hft-team-city commented on #219
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.181](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.181)

[2020-06-03 11:07] hft-team-city commented on #219
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.182](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.182)

[2020-06-03 11:08] hft-team-city commented on #216
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.182](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.182)

[2020-06-03 12:08] hft-team-city commented on #219
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.184](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.184)

[2020-06-03 12:08] hft-team-city commented on #216
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.184](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.184)

[2020-06-03 12:42] hft-team-city commented on #219
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.185](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.185)

[2020-06-03 12:42] hft-team-city commented on #216
Released in [Chronicle-Map-3.19.30](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.19.30), [BOM-2.19.185](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.185)

[2020-06-14 23:18] JerryShea opened #222 "Compile error if replace com.intellij:annotations with org.jetbrains:annotation"
`[ERROR] /home/teamcity/agents/dev11b/work/39269a5b52212c57/target/generated-sources/annotations/net/openhft/chronicle/map/impl/CompiledMapQueryContext.java:[21,35] <identifier> expected`

Not at all clear why this happens

[2020-07-06 02:54] itdeepdive opened #223 "Having issue with List of maps"
List<Map<String, Object>> dataMap = rows i fetch from db.....;

i want to store this dataMap in to persisted chroniclemap in a .dat file. is this supported in Chronicle-Map.

[2020-07-06 12:11] Cotton-Ben opened #224 "FYI. Can no longer `mvn install` on (fresh clone && my fork'd branch of) Chronicle-Map ?"
We know you guys are busy, any counsel?  Thanks! ben.cotton@rutgers.edu

buddy@IdeaPad> pwd
/c/Users/buddy/IdeaProjects/Chronicle-Map
buddy@IdeaPad> mvn install

<snip ...>

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  24.700 s
[INFO] Finished

[2020-07-07 10:26] Cotton-Ben commented on #224
all good now.

[2020-07-07 10:26] #224 closed

[2020-07-07 19:11] dpisklov commented on #223
It's not clear what you want to do with Chronicle Map. You can read documentation to understand more about what Chronicle Map can and can not do.
Github is for real issues you have with code, for questions there's stackoverflow.

[2020-07-07 19:11] #223 closed

[2020-08-04 11:34] dpisklov commented on #194
Closing due to no response from the TS - feel free to reopen

[2020-08-04 11:34] #194 closed

[2020-08-07 11:01] hbsuper007 opened #227 "how can i check the "nio.directbuffer.used" ?"
how can i check the amount of  memory that chronicle-map allocates？
i know that "map.offHeapMemoryUsed()" works, but i want to get the info from system scope.

i checked "jvm.nio.directbuffer.used",but it seems no larger.so Chronicle-Map is not based on nio's directbuffer?

[2020-08-10 17:53] hft-team-city commented on #224
Released in [Chronicle-Map-3.20.2](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.2), [BOM-2.20.17](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.17)

[2020-08-10 17:53] hft-team-city commented on #194
Released in [Chronicle-Map-3.20.2](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.2), [BOM-2.20.17](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.17)

[2020-08-14 14:28] minborg opened #228 "Suspicious files created during build on MacOS"
the following Windows-like files are created during build under MacOS:

![image](https://user-images.githubusercontent.com/7457876/90259915-14bc0000-de4b-11ea-9138-94cf42c770a4.png)

[2020-09-01 11:21] minborg opened #229 "Ensure exclusive file access during recover"
As per https://github.com/OpenHFT/Chronicle-Map/blob/master/docs/CM_Tutorial.adoc#recovery, a process that tries to recover a Map file must access the file *exclusively* or else the behavior is unspecified including the possibility that the Map file gets completely corrupted.

Currently, there is no means of enforcing exclusivity, leaving the door open to erroneous data reads and catastrophic fail

[2020-09-02 12:14] minborg opened #230 "Make CanonicalRandomAccessFiles thread-safe"
`RafReference` is not thread-safe but can be shared across threads. For example, two threads are using the same Map.

[2020-09-02 13:03] minborg commented on #230
Instances are protected via map access

[2020-09-02 13:03] #230 closed

[2020-09-02 17:20] minborg commented on #229
Shared file locking does not work on Windows so I proposed that the file locking protection is disabled on that platform and a warning message is printed once per JVM.

[2020-09-03 10:36] minborg commented on #229
Closed as per https://github.com/OpenHFT/Chronicle-Map/commit/f8c5d9dc2d31d089f1340a7cbf0a266f1b0889b4

[2020-09-03 10:36] #229 closed

[2020-09-18 15:10] #196 closed

[2020-09-18 17:08] hft-team-city commented on #196
Released in [Chronicle-Map-3.20.40](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.40), [BOM-2.20.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.60)

[2020-09-23 13:12] muthumadi opened #231 "ChronicleMapBuilder.<init> is looking for a target folder"
Version:chronicle-map 3.20.2
OS: Mac Catalina 10.15.6
Java: 1.8.0

In our application, we have a custom SecurityManager with a custom policy that restricts read/write access only on a set of a specific folder.

When I try to create a ChronicleMap, it is scanning the folders trying to look for a target folder and if not found it is trying to create it. While debugging I can see that this logic is i

[2020-09-24 12:50] dpisklov commented on #231
You can set 'project.build.directory' to be any folder within the specific folder. Although it's certainly not needed in runtime, it's part of static initializer for a class that is used in many places, and it's easy to override the place being searched.

[2020-09-24 13:59] muthumadi commented on #231
I tried setting 'project.build.directory' but it did not help and I think the reason is this

_public static final String TARGET = System.getProperty("project.build.directory", findTarget());_

Though the above line provides the default value for "project.build.directory" ,the findTarget() will get executed no matter if I set the property or not.

On the other side in organizations line ours they

[2020-09-25 12:20] #231 closed

[2020-09-25 13:19] muthumadi commented on #231
Thanks @dpisklov  for the quick turn around

[2020-09-28 12:19] umeshshende commented on #104
I'm still unable to find the solution any update on this

[2020-09-29 12:20] hft-team-city commented on #231
Released in [Chronicle-Map-3.20.60](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.60), [BOM-2.20.76](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.76)

[2020-10-02 11:42] peter-lawrey opened #232 "Unmonitor the segmentBytes in a Map's QueryContext"

[2020-10-02 11:42] #232 closed

[2020-10-04 08:27] hft-team-city commented on #232
Released in [Chronicle-Map-3.20.61](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.61), [BOM-2.20.84](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.84)

[2020-10-07 12:40] hsnamed opened #233 "In persistent mode lost Keys."
Steps to reproduce:
[code]
map stat :
[code]
As we see strange key : <266d63a1>ad1f9c167d523ad1aa1947b2732a865bf5414eab2f9e5ae5d5c191ba00000001
its like <12b5633b>ad1f9c167d523ad1aa1947b2732a865bf5414eab2f9e5ae5d5c191ba00000001 except 4 bytes

Problem arise when map used in persisted mode **createPersistedTo**

Compiled with JDK 15 , Runtime JDK 11
[code]

[2020-10-07 13:29] hsnamed commented on #233
I've found that depends on number segments , so if i changed number of entries to 100_000_000
exception about key not found arise earlier than before/

[2020-10-07 14:36] hsnamed commented on #233
Code to reproduce :
hashes : [https://pastebin.com/sKpRDgZE](https://pastebin.com/sKpRDgZE)

[code]
    @Test
    public void addManyRemoveOne() throws Exception {
        var in = ChMapTest.class.getClassLoader().getResourceAsStream("hashes");
        BufferedReader reader = new BufferedReader(new InputStreamReader(in));
        while(reader.ready()) {
            String[] line = reader.readLine(

[2020-10-08 14:44] MichaelBagley opened #234 "java.lang.IllegalArgumentException: Mapping more than 4096 MiB is unusable on Windows,"
I am currently running    3.20.61 on windows 10 x64 professional.  I am using the following to build my map:

       ChronicleMapBuilder<String, String> builder = ChronicleMap.of(String.class, String.class)
                .name("tjc by " + algorithm + " map")
                .entries(lineCount)
                .averageValue("20150701:20180630=1234=900:1098:E=9520;20150701:20180630=900:1098:E=9520

[2020-10-08 14:57] dpisklov commented on #234
Stacktrace please?

[2020-10-08 14:59] MichaelBagley commented on #234
Legend:  module:initSstZip9 source:../ng-tjc-content/source/nonsst//Zip4.dat destination:..\ng-tjc-content\object\nonsst\20200922202225//chronicle-map-zip9.dat
java.lang.IllegalArgumentException: Mapping more than 4096 MiB is unusable on Windows, size = 4133 MiB
        at net.openhft.chronicle.core.OS.map(OS.java:341)
        at net.openhft.chronicle.hash.impl.VanillaChronicleHash.map(VanillaChro

[2020-10-08 15:53] dpisklov commented on #234
OK [here's](https://bugs.java.com/bugdatabase/view_bug.do%3Fbug_id%3D6776490) the reason for this. Quoting:

The two options you have are either use less than 4Gb or don't use Linux (I would strongly suggest latter).

[2020-10-08 15:53] #234 closed

[2020-10-08 15:54] MichaelBagley commented on #234
Understood.  Thank you for your time.

[2020-10-08 16:03] MichaelBagley commented on #234
I presume you meant don't use Windows

[2020-10-08 16:12] dpisklov commented on #234
Yes - fixed :D

[2020-10-15 17:05] peter-lawrey opened #235 "Improved support for BytesMarshallable and Marshallable"

[2020-10-15 17:22] #235 closed

[2020-10-22 14:24] minborg opened #236 "Introduce a system property that can disable file locking"
Under some conditions (e.g. running code under different class loaders), the file locking may not work as expected.

[2020-10-22 14:27] minborg commented on #236
Proposed solution: add a system property called `chronicle.map.disable.locking`

[2020-10-22 14:29] #236 closed

[2020-10-22 15:27] hft-team-city commented on #236
Released in [Chronicle-Map-3.20.83](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.83), [BOM-2.20.135](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.135)

[2020-10-23 10:59] gary-distinctive opened #237 "Size of map on disk"
Can you help me understand why the ChronicleMap .dat file created by this configuration differs in size between Windows and Linux please?

We are using ChronicleMap version 3.20.40

val mapBuilder = ChronicleMapBuilder
                .of(String::class.java, StorePayload::class.java)
                .name(cacheName)
                .actualSegments(Runtime.getRuntime().availableProcessors() * 2)

[2020-10-23 11:25] minborg commented on #237
If you type the following LInux command:

[code]

What do you see?

[2020-10-23 11:50] gary-distinctive commented on #237
$ ls -la
-rw-r--r--. 1 xxx xxx 269454475264 Oct 23 12:48 66b61298-84ad-4b5c-a94a-4b594fb5d8de.dat
$ du -h 66b61298-84ad-4b5c-a94a-4b594fb5d8de.dat
251G    66b61298-84ad-4b5c-a94a-4b594fb5d8de.dat

[2020-10-27 15:27] #237 closed

[2020-10-27 15:52] RobAustin commented on #237
@gary-distinctive why did you close this, did you find the reason for the discrepancy in the sizes? [ as we were just starting to investigate this ]

[2020-10-27 17:00] gary-distinctive commented on #237
Hi Rob - yes, root cause was local coding issue

[2020-11-07 02:12] edudar opened #240 "Optional dependencies are not optional"
Here's what POM files has:
[code]

Unfortunately, placing a comment does not make dependencies truly optional. There has to be `<optional>true</optional>` for each optional one.

As a result, depending on the map brings in some questionable dependencies like :
[code]

[2020-11-18 17:36] minborg opened #242 "Move the internal package to the correct package"

[2020-11-18 18:01] #242 closed

[2020-12-07 22:22] hft-team-city commented on #242
Released in [Chronicle-Map-3.20.84](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.84), [BOM-2.20.192](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.192)

[2020-12-07 22:22] hft-team-city commented on #237
Released in [Chronicle-Map-3.20.84](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.20.84), [BOM-2.20.192](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.192)

[2020-12-10 15:14] minborg opened #244 "Prevent arithmetic operations from overflowing"

[2020-12-10 16:38] #244 closed

[2020-12-10 18:08] minborg opened #245 "Fix false warning about resource leak in JsonSerializer"

[2020-12-11 08:33] minborg opened #246 "Remove fixed file names"
Some file names are erroneously fixed (e.g. "C:\\Users\\buddy\\dev\\shm\\OPERAND_ChronicleStampedLock") creating unwanted files on Mac and Linux platforms during testing.

See, for example, `DirtyReadVictimTest`

[2020-12-14 14:09] #246 closed

[2020-12-14 14:36] #245 closed

[2020-12-15 01:52] danjmarques opened #247 "www.google-analytics.com"
Is seems that 3.20.84 (but not any of the versions I used before) is attempt to connect with www.google-analytics.com?

Why is this?  Is this by design in the Chronicle-Map code, or is that something that snuck in via a dependency?  If the former, is there a way to disable this?  We won't be able to use this software as it will trigger a security alert.

In either case, this is a bit worrisome

[2020-12-15 08:14] minborg commented on #247
Hi @danjmarques and thank you for your question.

Knowing how our products are used allows us to focus our resources more efficiently in our effort to improve our libraries and provide better and more widely adopted solutions for the open-source community as described here https://github.com/OpenHFT/Chronicle-Map/blob/master/DISCLAIMER.adoc

Data is sent via a secure connection and we disclose rep

[2020-12-15 08:24] minborg opened #248 "Announce the existence of analytics on startup"
This allows users to make informed decisions with respect to analytics. See #247

[2020-12-15 08:59] #247 closed

[2020-12-15 09:19] #248 closed

[2020-12-15 15:01] danjmarques commented on #247
I really hope you reconsider this decision.

I would imagine that most places that need software "designed for low-latency, and/or multi-process applications, such as trading and financial market applications" will

1. be running in an environment where the connection to google-analytics.com will be blocked.  The connection attempt will be detected and trigger an info-sec alert, which will result

[2020-12-15 15:20] danjmarques commented on #247
And to follow up to my earlier comment for any 3rd party: net.openhft.chroncicle.core.internal.analytics.StandardMaps.standardAdditionalEventParameters will report the user's "internal" package names (first 3 parts) as long as they are in the top 3 most frequent.  This will likely result in sending identifiable information to google-analytics.

[2020-12-15 16:58] minborg commented on #247
Thanks again @danjmarques for your input on this. Let's take a step back and look at some facts:

* We have added analytics because we think it will improve our products and how they are used.
* It is completely voluntary to leave the feature on.
* We disclose what we do (see below).
* We make reports available to the general public.
* Analytics will send data (as disclosed) to Google Analytics vi

[2020-12-15 17:00] minborg opened #249 "Improve text for resource usage pertaining to analytics"
See #247

[2020-12-15 17:04] #249 closed

[2020-12-15 17:06] minborg commented on #247
I have added thread usage info as per https://github.com/OpenHFT/Chronicle-Map/issues/249

[2020-12-15 17:31] danjmarques commented on #247
@minborg - Thanks for the response.  I understand what you are trying to accomplish, but I, and most other users, I guess, would much prefer if something like this was enabled via opting in, rather than needing to contact you to opt out.

Like I stated before, I would imagine that many (most?) of the users of such a library will be running the software in an environment where the request to google

[2020-12-15 17:35] minborg opened #250 "Add Analytics feature which can be opted out"
This feature was introduced in 3.20.84 but was not in the release notes. Hence, this place holder.

[2020-12-15 17:38] minborg commented on #247
Hi again @danjmarques

It was not ideal that analytics was missing in the release notes as you rightfully pointed out. I have added a place holder issue (https://github.com/OpenHFT/Chronicle-Map/issues/250) so that this will be clear in the next release.

Thanks for pointing out this!

[2020-12-15 17:38] #250 closed, assigned to minborg

[2020-12-16 10:15] peter-lawrey commented on #247
Thank you for your feedback.
I can understand commercial companies finding this surprising and concerning,
all we ask is that you let us know who you are one way or another at no cost to yourself, nothing to sign.
We need this information to get investment in maintaining these products as investors won't pay any money if we can't even say who is using our products for free. Just saying we have 20,

[2020-12-16 10:27] peter-lawrey commented on #247
Chronicle Map is a good example, we have been talking about doing a next-generation re-write for years but can't justify the R&D this would involve, instead, all improvements have gone into commercial products like Market Data Distributor.

[2020-12-21 13:23] kennycheung opened #251 "Strange recoverPersistedTo behaviour with a persisted map that grew within bloat"
Hi,

Here is a test case that illustrates the problem.

    File temporaryFile = File.createTempFile("chronicle-test", ".map");

    ChronicleMapBuilder<Long, Long> builder = ChronicleMapBuilder
        .of(Long.class, Long.class)
        .maxBloatFactor(10)
        .entries(1_000_000);

    ChronicleMap<Long, Long> map = builder.createPersistedTo(temporaryFile);

    int entries = 3_000_000;

[2021-01-04 15:13] minborg commented on #251
We recently changed the way we police the recovery operations. Which version of Map are you running @kennycheung ?

[2021-01-04 15:19] kennycheung commented on #251
Hi @minborg, thanks.  I am using the latest version (3.20.84).

[2021-01-15 07:51] minborg opened #264 "GitHub actions build fails"
https://github.com/OpenHFT/Chronicle-Map/actions

[2021-01-15 10:12] dpisklov commented on #264
It's unable to get OSS artifacts from our Nexus, and fresh bom is not yet
available on OSS nexus, so it's normal. I wouldn't bother about it

On Fri, 15 Jan 2021 at 07:51, Per-Åke Minborg <notifications@github.com>
wrote:

[2021-01-21 01:39] edudar commented on #247
@minborg could you please clarify regarding opting-out. It seems that to remove analytics one has to contact info@. How exactly this removal process works?

I learnt about analytics simply by going through the recent commits. Was trying to learn what has changed from one version to another as release notes don't really cover that and there are lots of commits that are not associated with any issue

[2021-01-21 08:00] minborg commented on #247
@edudar The removal process is described at the end of https://github.com/OpenHFT/Chronicle-Map/blob/ea/DISCLAIMER.adoc

In short, you send an email to info@chronicle.software and you will receive instructions on how to turn it off.

As you rightly point out, there are several improvements that go into the product with no reference to a particular issue.

[2021-01-26 15:32] RobAustin opened #265 "Added an accessor for maxBloatFactor"

[2021-01-26 15:33] RobAustin opened #266 "Improved isClosed()"
knowing that Map is closed is pretty important because the JVM segfaults if you call remainingAutoResizes() and the map has been closed

[2021-01-27 18:12] RobAustin commented on #266
we have added the following test

[code]

[2021-01-27 18:17] #265 closed, assigned to RobAustin

[2021-01-28 16:59] hft-team-city commented on #265
Released in [Chronicle-Map-3.21ea2](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.21ea2), [BOM-2.21ea36](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea36)

[2021-01-28 18:25] #266 closed, assigned to RobAustin

[2021-01-28 22:44] hft-team-city commented on #266
Released in [Chronicle-Map-3.21ea3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.21ea3), [BOM-2.21ea37](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea37)

[2021-01-29 05:26] viswanathk opened #268 "Deserialisation cost of using Chronicle Maps"
Hello,

It is written in the documentation that using the `Value` interface is useful for two things:

1. No additional garbage
2. Almost negligible deserialisation cost.

Is there any documentation or explanation on why there is negligible deserialisation cost? Typically when we move things out of the Java heap, the most common concern is the SerDe cost. How is ChronicleMaps avoiding that?

It wi

[2021-01-29 05:44] JerryShea commented on #240
This PR has been merged so closing

[2021-01-29 05:44] #240 closed

[2021-02-17 10:02] amritkumar123 commented on #186
I am getting the same error.. Error is same but at Chroniclemap.compute. I am using 3.14.5 version. Tried to update version but it did not solve the issue. The map is saved to disk in my case ; how to reproduce the issue- This occurs randomly and possibly with a large data set  .Any suggestions or workarounds?

Exception in thread "main" java.lang.IllegalStateException: Failed to acquire the lock

[2021-03-03 13:13] LutzWeischerFujitsu opened #270 "mvn install fails on AArch64, Fedora 33"
[jw@cn05 map]$ [jw@cn05 map]$ mvn install
[INFO] Scanning for projects...
Downloading from Snapshot Repository: https://oss.sonatype.org/content/repositories/snapshots/net/openhft/chronicle-bom/2.21ea-SNAPSHOT/maven-metadata.xml
Downloaded from Snapshot Repository: https://oss.sonatype.org/content/repositories/snapshots/net/openhft/chronicle-bom/2.21ea-SNAPSHOT/maven-metadata.xml (787 B at 139 B/s

[2021-03-09 10:11] wapgui opened #271 "Illegal reflective access operation"
With all versions later 3.17.8 on Java 11 this message occurs:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access using Lookup on net.openhft.chronicle.core.Jvm (file:/Users/TORS/.m2/repository/net/openhft/chronicle-core/2.19.32/chronicle-core-2.19.32.jar) to class java.lang.reflect.AccessibleObject
WARNING: Please consider reporting this to the mainta

[2021-03-24 13:21] minborg commented on #264
As @dpisklov pointed out, this is related to Nexus.

[2021-03-24 13:21] #264 closed, assigned to nobody

[2021-04-01 19:51] mores commented on #271
I am seeing this also using the following JVM:

openjdk version "11.0.10" 2021-01-19 LTS
OpenJDK Runtime Environment Zulu11.45+27-CA (build 11.0.10+9-LTS)
OpenJDK 64-Bit Server VM Zulu11.45+27-CA (build 11.0.10+9-LTS, mixed mode)

[2021-04-27 12:22] ericlop opened #276 "Completely disable locking on persistant chronicle map file, including file creation"
Hi,

Recently, a new jvm properties "chronicle.map.disable.locking" was managed in chronicle map to [disable file locking](https://github.com/OpenHFT/Chronicle-Map/issues/236)

However, a file lock is still present during persistent file creation, even if the previous property is set ( private method fileLockedIO called in ChronicleMapBuilder class). I need to disable completely locking for **Ceph

[2021-05-10 12:34] vivian37 opened #279 "how share obj in different JVM"
Can I share obj in different JVM without using persistence files？

[2021-05-20 17:40] justinjohnson02 commented on #271
Ditto, I also see this with the latest version of Chronicle-Map ‎**3.21ea41**. I am just testing it out for possible adoption/use so I guess I'll be bumping down to version **3.17.7**.

[2021-06-03 15:38] RobAustin commented on #279
Thank you for your question, however we reserve git issues for just issues, please repost your question on stack overflow.

[2021-06-03 15:38] #279 closed, assigned to nobody

[2021-06-04 17:50] #276 closed, assigned to glukos

[2021-06-07 15:08] #188 closed

[2021-06-08 23:02] ahornace opened #289 "Make jetbrains annotations dependencies as provided?"
Hello,

we are using your library but unfortunately it brings jetbrains annotations with versions 12 and 19 as its dependencies whereas we use the newest version 21. We chose to exclude the annotations library in maven when adding chronicle-map, however, the Tomcat jar scanning still complains.

Do you think it would make sense to mark the library as `provided` (compile only)? The annotations them

[2021-06-09 07:04] minborg commented on #289
As a side note, we are planning to upgrade to 21.

[2021-06-09 07:14] minborg commented on #289
This is how it would look like in the TPB:

[code]

[2021-06-11 08:05] minborg commented on #289
Related to https://github.com/OpenHFT/OpenHFT/issues/49

[2021-06-11 16:00] tuhuynh27 commented on #271
Same issue faced

[2021-06-14 10:01] #289 closed, assigned to nobody

[2021-06-14 15:36] BryanWang1 commented on #271
Also having the exact same issue. although my line says

"WARNING: Illegal reflective access using Lookup on net.openhft.chronicle.core.Jvm (file:/C:/Users/NAME/.m2/repository/net/openhft/chronicle-core/2.21ea61/chronicle-core-2.21ea61.jar) to class java.lang.reflect.AccessibleObject"

[2021-06-14 17:11] justinjohnson02 commented on #271
I think they're aware: https://github.com/OpenHFT/Java-Runtime-Compiler/issues/63#issuecomment-860831114

[2021-06-16 15:52] glukos opened #291 "Deadlock on concurrent map creation from several JVMs"
The deadlock may happen when a Map is created from scratch concurrently in >= 2 processes.
If map file is empty (or doesn't exist), we acquire exclusive file lock to write a header, then release it and acquire shared lock for working with the map.
However, there's a time window between emptiness-checking and lock acqusition. Another process may write the header and acquire shared lock in this wind

[2021-06-17 02:14] #291 closed, assigned to glukos

[2021-06-17 12:53] glukos opened #292 "Enable exclusive locks on Windows environments by default"
[code]
Exclusive locks on the whole file work fine on Windows.
There's no reason to sacrifice atomicity of writing the header.

[2021-06-18 01:14] jkolobok opened #295 "Document ChronicleMap.acquireContext"
ChronicleMap.acquireContext is missing any documentation

[2021-06-18 08:02] glukos commented on #292
This was released in chronicle-BOM 2.21ea177, chronicle-map 3.21ea64

[2021-06-18 08:02] #292 closed, assigned to glukos

[2021-06-23 02:41] JerryShea opened #300 "TeamCity build fails with latest 3rd party bom"
See https://teamcity.chronicle.software/project/OpenHFT_ChronicleMap?branch=latest_3rd_party_and_parent_pom&buildTypeTab=overview&mode=builds and https://github.com/OpenHFT/Chronicle-Map/tree/latest_3rd_party_and_parent_pom

[2021-06-29 13:47] glukos commented on #300
We have bumped `guava-testlib` from `19.0` to `30.1.1`.
30.1.1 has 200 new tests on CHM, specifically on corner cases, and some of them fail. For example, if `computeIfAbsent` lambda returns `null`, Chronicle-Map throws NPE - this case wasn't tested in `19.0`.
I don't think that it blocks `third-party-bom` upgrade, so I'll mute the tests and investigate failures under a separate issue.

[2021-06-29 15:23] glukos opened #303 "Fix edge cases reproduced on Guava CHM tests after upgrading guava-testlib to 30.1.1"
New failed tests:
[code]

[2021-06-29 15:28] glukos commented on #303
New tests are investigated under https://github.com/OpenHFT/Chronicle-Map/issues/303

[2021-06-29 15:29] glukos commented on #300
New tests are investigated under https://github.com/OpenHFT/Chronicle-Map/issues/303

[2021-06-29 15:41] glukos commented on #300
@JerryShea FYI: I've merged your changes in Map/pom.xml into develop, but didn't bump Map in Chronicle-BOM

[2021-06-29 23:55] #300 closed, assigned to glukos

[2021-06-30 16:45] #303 closed, assigned to glukos

[2021-07-05 15:54] RobAustin opened #304 "fixed msync on mac"
msync is not working on mac

[code]

[2021-07-21 11:33] hpuac commented on #271
Also raised here: https://github.com/OpenHFT/Chronicle-Core/issues/192
We run into the same issue since we updated the JVM to version 16 and needed to add some flags to still make it work, otherwise the service would stop with an exception:
[code]

[2021-07-22 02:14] JerryShea opened #305 "NPE during TeamCity Java 11 build"
See https://teamcity.chronicle.software/buildConfiguration/OpenHFT_BuildAll_BuildJava11

Emerging from the bowels of spoon
[code]

[2021-07-22 09:24] minborg commented on #271
It would be possible to add these statements in the MANIFEST file to provide smother transition to more recent Java versions:

Two new JDK-specific JAR-file manifest attributes are defined to correspond to the --add-exports and --add-opens command-line options:
[code]
See https://openjdk.java.net/jeps/261#Breaking-encapsulation

[2021-07-26 23:02] JerryShea commented on #305
This has stopped occurring so closing

[2021-07-27 15:25] jazdw commented on #247
Why the secrecy about how to turn it off? Given this is an Apache 2.0 licensed library it is surprising and concerning to see that it is collecting data in the background and sending it to a third party.

For anyone trying to turn this off, have a look at `net.openhft.chronicle.core.analytics.AnalyticsFacade#isEnabled`
Set the Java system property `chronicle.analytics.disable` to true.

[2021-07-28 09:29] minborg opened #308 "Add warning before recovery operation starts"

[2021-07-28 10:30] #308 closed, assigned to minborg

[2021-07-28 13:42] Debski-A opened #309 "Values of fields are swapping places"
I've created Value interface:
[code]
then I created chronicle map, key for an entry, value for an entry and I put this entry in created map:
[code]
and then I triggered couple of times process which attaches to created map, gets value and prints it:
[code]
For some runs printed entry had correct state. But couple of times I got:
[code]
values for level1Description and level2Description swapped pla

[2021-07-28 19:44] maxim5 commented on #271
Same problem here (JVM 16):
[code]

[2021-07-30 09:58] glukos opened #310 "Background cleanup of removed entries is disabled even if ChronicleMapBuilder#cleanupRemovedEntries is true"
OldDeletedEntriesCleanupThread:
[code]

So background cleanup is never performed, which may lead to on-demand cleanup and latency spikes on put() called by a critical thread.

[2021-07-30 10:04] alamar opened #311 "IllegalStateException during entry removal causing later errors on recovery"
[code]

This is when doing a scan/conditional map.remove() in a loop.

Later, after restart, the following errors are seen:
[code]

The map will be able to recover after a large number of such messages.

[2021-07-30 12:16] Debski-A commented on #309
Root cause of this issue was described by Peter on stackoverflow -> https://stackoverflow.com/questions/68560316/chronicle-map-values-of-fields-are-swapping-places/68588139#68588139

[2021-07-30 12:16] #309 closed, assigned to nobody

[2021-07-30 22:00] jazdw commented on #213
The `skipCloseOnExitHook` field is neither read nor written by the marshalller. There is no way to turn off the exit hook for an existing file.

[2021-07-30 22:11] jazdw commented on #213
Work around:
[code]

[2021-07-31 23:35] ghost opened #312 "Download Install is not working"
Simple download of Chronicle-Map repository.  Unzip files, import into Eclipse.  In net.openhft.chronicle.hash.impl will not compile due to import net.openhft.chronicle.core.shutdown.PriorityHook; not being found.  Second error: Within package net.openhft.chronicle.map; there is no reference for CompiledMapIterationContext on line 296.

[2021-08-01 23:17] JerryShea commented on #305
Saw it again https://teamcity.chronicle.software/buildConfiguration/OpenHFT_BuildAll_BuildJava11/593970

[2021-08-05 16:58] ghost commented on #312
Is there any resolution of this?  Short of decompiling JAR's how do I get access to the missing java classes?

[2021-08-05 18:06] RobAustin commented on #312
CompiledMapIterationContext is created via the annotations processor, run

[code]
from the shell and it should create this class for you.

[2021-08-05 18:06] #312 closed, assigned to nobody

[2021-08-06 07:13] minborg commented on #312
Sometimes you have to tell the IDE that the generated-sources/annotations directory should count as source code. For IntelliJ, you do like this. I think there is a corresponding way for your IDE.

![image](https://user-images.githubusercontent.com/7457876/128471177-aa71c207-78f2-4be9-a74d-716a14c9a050.png)

[2021-08-06 13:13] peter-lawrey opened #313 "Add direct support for sparse files under Linux"

[2021-08-09 08:50] peter-lawrey opened #314 "Add more detail on the sizes of each segment"

[2021-08-09 08:51] #314 closed, assigned to peter-lawrey

[2021-08-09 08:52] #313 closed, assigned to peter-lawrey

[2021-08-10 21:32] JerryShea opened #316 "Reduce calls to deprecated methods"
Map refers to a number of deprecated classes and methods. Some of these have a replacement and we should refer to the replacement.

[2021-08-15 23:29] nicktindall opened #317 "HugeSparseMapTest takes 20 minutes on CI boxes"

[2021-08-16 23:43] JerryShea commented on #270
Hi @LutzWeischerFujitsu, I would hope that this was caused by a transient condition. Sometimes maven central takes a very long time to publish dependencies.

[2021-08-16 23:43] #270 closed, assigned to nobody

[2021-08-16 23:44] JerryShea opened #318 "Respect BytesMarshallable#usesSelfDescribingMessage"
And use Wire Marshaling as appropriate

[2021-08-17 08:59] minborg opened #319 "Add a tool that can dump the contents of a Chronicle Map file in human readable form"

[2021-08-17 13:11] minborg commented on #316
#comment Keys using IntegerDataAccess will not be readable from this version

[2021-08-17 14:45] #319 closed, assigned to minborg

[2021-08-17 18:56] minborg opened #321 "Reduce test clutter and cleanup resources"

[2021-08-17 19:05] minborg opened #322 "Update dependencies"
[code]

[2021-08-18 00:02] #316 closed, assigned to nobody

[2021-08-18 00:02] #321 closed, assigned to minborg

[2021-08-18 00:52] JerryShea commented on #318
Note that we can tell the map builder to use Wire marshalling with
[code]

[2021-08-18 09:49] RobAustin opened #323 "QueryableEntrySetTest flaky test"
see https://teamcity.chronicle.software/buildConfiguration/OpenHFT_BuildAll_Build/597685

[2021-08-18 09:55] #323 closed, assigned to minborg

[2021-08-18 13:17] #322 closed, assigned to minborg

[2021-08-19 12:56] minborg opened #324 "Remove usage of IntegerDataAccess and WrongXxHash"
@comment After these classes are removed, some legacy files will not work. Use a pre-3.22 version for these files.

[2021-08-19 13:41] minborg commented on #324
Also, remove other deprecated methods and classes marked for removal in x.22

[2021-08-19 13:58] minborg commented on #324
@comment ReplicatedGlobalMutableState is also removed so older replicated files cannot be used.

[2021-08-20 15:13] #324 closed, assigned to minborg

[2021-08-23 03:18] JerryShea opened #325 "Chronicle Map fails to compile under Java 11"
[code]
and when run with `-e`
[code]

[2021-08-23 09:14] minborg commented on #325
I think this is attributed to `stage-compiler` which needs updating. Gradle is used but recent versions of gradle are using a new syntax. Also, some of the dependencies need updating including `spoon-core`. Newer versions of spoon might not have the problem above but cannot be used directly because the API changed.

The gradle script needs to be updated along the lines of this:

![image](https://u

[2021-08-23 09:17] minborg commented on #325
Patching spoon-core and other library versions did not work so well. For example, the following still fails:

![image](https://user-images.githubusercontent.com/7457876/130422540-c69e6512-1a06-4b8e-9af4-84308a81b01e.png)

We probably need to move to more recent versions

[2021-08-24 00:26] JerryShea commented on #325
Fixing this may also fix #305 and #222

[2021-08-24 22:42] JerryShea commented on #325
And another one.... TeamCity Map [snapshot deploy](https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleMap_Snapshot?mode=builds) failing with
[code]

[2021-08-25 07:10] minborg commented on #325
Is there a particular reason this project uses Gradle instead of Maven as in all our other projects?

Regardless of build tool, this might be an "Egg of Columbus" type of problem.

[2021-08-25 10:08] JerryShea commented on #325
https://github.com/OpenHFT/Stage-Compiler/pull/2 now compiles under maven

[2021-09-02 03:41] shubhhampagui opened #331 "High memory usage on initialising chronicle map on container compared to virtual machine"
I want to use chronicle map in production code to make use of off-heap memory in java which is running on kubernetes containers. I am seeing high memory usage on container compared to virtual machine on using the chronicle map. I debugged and narrowed down the problem further by creating a test application around the code that is causing increase in memory.

In the test application I am initialisi

[2021-09-07 08:45] minborg opened #333 "Improve module system friendliness"
Add a default module name and indicate modules to  open/export in MANIFEST

[2021-09-07 08:48] minborg opened #334 "maven-javadoc-plugin fails under Java11"
[code]

[2021-09-07 23:46] #333 closed, assigned to minborg

[2021-09-09 13:04] minborg opened #335 "Add assert harness around unsafe direct memory access"

[2021-09-09 13:05] minborg commented on #335
This can be done using the zero-cost assertion mechanism in chronicle-core, e.g.:
[code]

[2021-09-09 17:51] #335 closed, assigned to minborg

[2021-09-14 16:49] jazdw commented on #271
Any progress on this with the release of Java 17 LTS today?

[2021-09-17 14:20] justinjohnson02 commented on #271
I think it would help to know where on the roadmap Java 17 support is.

[2021-09-17 16:22] RobAustin commented on #271
We are hoping to get most of our projects to support java 17 this year.

[2021-09-17 19:26] justinjohnson02 commented on #271
Thanks for the update @RobAustin ! 😄

[2021-09-23 04:15] hft-team-city commented on #333
Released in [Chronicle-Map-3.22ea3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea3), [BOM-2.22ea23](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea23)

[2021-09-23 04:15] hft-team-city commented on #335
Released in [Chronicle-Map-3.22ea3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea3), [BOM-2.22ea23](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea23)

[2021-09-24 02:32] JerryShea opened #337 "ExitHookTest fails under Java 17"

[2021-09-24 02:35] JerryShea opened #338 "ChronicleMapTest.testAcquireUsingLockedWithString fails under Java 17"

[2021-09-28 15:39] alamar opened #342 "The file the map is serialized from has unexpected length 0"
Very often, in tests or debugging sessions, the annoying error message from the subject is produced.

When map creation is preempted, it often leads to map file having zero length. Chronicle Map will not overwrite such maps, despite there being nothing to lose due to zero length.

Maybe we should issue a warning in this case and then overwrite the zero-length file?

[2021-09-29 10:43] minborg commented on #338
Apparently, Java 17 does a better job internalizing/de-duplicating strings so, we have to explicitly create a new empty string

[2021-09-29 12:12] minborg commented on #337
This is due to the fact that the spawned child processes do not inherit the parent's JVM parameters.

[2021-09-29 18:08] glukos commented on #342
FYI
This can be reproduced locally if ConcurrentReceiversTest is running until failure.
I masked it for Build-All by using distinct map dirs for different tests.

[2021-09-29 18:13] glukos opened #345 "MarshallableReaderWriter combined with writeDefault=false may cause retrieving empty values from the map"
Test - `MarshallableReaderWriterTest`

The root cause is `Wires#WIRE_TL` - saved position (that's left after handling unexpected fields) may be set in its ValueInState. As a result we may restore the saved position and skip some of contents during unmarshalling.

[2021-09-29 21:33] nicktindall commented on #345
Interestingly I found this same problem in DocumentContext https://github.com/OpenHFT/Chronicle-Wire/issues/311. Might be something to look out for elsewhere when Wires are reused.

[2021-09-30 00:00] #345 closed, assigned to glukos

[2021-09-30 00:00] #337 closed, assigned to minborg

[2021-09-30 00:00] #338 closed, assigned to minborg

[2021-10-04 00:17] #331 closed, assigned to nobody

[2021-10-08 11:49] hft-team-city commented on #338
Released in [Chronicle-Map-3.22ea4](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea4), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #337
Released in [Chronicle-Map-3.22ea4](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea4), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #345
Released in [Chronicle-Map-3.22ea4](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea4), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #333
Released in [Chronicle-Map-3.22ea3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea3), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #335
Released in [Chronicle-Map-3.22ea3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea3), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-11-11 17:48] mickyloo opened #354 "Intermittent failure creating map with persistence"
We are getting intermittent failures during map creation in our CI tests.
The test creates a small <LongValue, LongValue> map of 5 entries with persistence to file in a temp folder.

[code]

chronicle-map version 3.21.86
JDK8
Debian

We are not seeing this issue in 3.20.84.1

[2021-11-11 20:00] alamar commented on #354
Is it possible that you are running out of disk space @mickyloo ?

[2021-11-11 20:52] mickyloo commented on #354
@alamar We have confirmed that our pod does have available disk space when we see that error.

[2021-11-12 15:34] minborg commented on #354
Are you able to share the actual test that is failing?

[2021-11-12 15:59] minborg commented on #354
I have run my test over 50k times and was unable to reproduce:

![image](https://user-images.githubusercontent.com/7457876/141496352-a766306f-2fac-4032-9a88-0e036875b564.png)

[2021-11-15 15:40] mickyloo commented on #354
This is the minimal code that allows us to reproduce the issue intermittently.
[code]

[2021-11-15 17:29] minborg commented on #354
Hi @mickyloo

A while ago, we reworked the handling of the recover operations and made them more rigid. One of the things we did was to acquire an exclusive lock during recovery. It should be mentioned that the recover operations should only be invoked "manually" when making sure there are no other processes using the map.

Is it possible for you to run a more recent version (e.g. BOM 2.22ea57)?

[2021-11-23 09:43] minborg commented on #354
Did you update your version @mickyloo ?

[2021-11-29 13:53] mickyloo commented on #354
We still see the issue with the latest version, 3.22ea5.

[2021-12-01 01:08] PirateBag opened #359 "Java 11 + Eclipse java.lang.String cannot be resolved"
I am currently experiencing the following problems when I build from Eclipse.

See https://stackoverflow.com/questions/62325539/eclipse-jdk-11-problem-the-type-java-lang-string-cannot-be-resolved-it-is-indi

After doing the usual build path fiddling, open/closing projects recomended by stackoverflow.  I also tried exclusions...
    <exclusion>
                <groupId>net.openhft</groupId>

[2021-12-01 01:10] PirateBag commented on #359
Here is my POM.
This worked until I upgraded eclipse.

I am using eclipse 2021-09 (4.21.0)

[pom.xml.txt](https://github.com/OpenHFT/Chronicle-Map/files/7629891/pom.xml.txt)

[2021-12-01 01:10] #359 closed, assigned to nobody

[2021-12-01 01:30] PirateBag opened #360 "Java 11 + Eclipse java.lang.String cannot be resolved"
I am currently experiencing the following problems when I build from Eclipse.

See https://stackoverflow.com/questions/62325539/eclipse-jdk-11-problem-the-type-java-lang-string-cannot-be-resolved-it-is-indi

Also see
https://bugs.eclipse.org/bugs/show_bug.cgi?id=536928

After doing the usual build path fiddling, open/closing projects recommended by stack overflow.  I also tried exclusions...
    <

[2021-12-05 11:53] agusevas commented on #213
@peter-lawrey are there any plans to fix this issue?

[2021-12-06 07:54] RobAustin commented on #213
It's on our backlog, if you would like it prioritised please contact sales@chronicle.software

[2021-12-09 12:51] tuhuynh27 opened #362 "Support get random element method"
I'm trying to implement getRandom() method from ChronicleMap instance, is there any way to access the backing array of it?

[2021-12-10 07:15] minborg commented on #362
Chronicle Map is not backed by an array. Instead, elements are serialized to non-heap memory.

[2021-12-10 07:15] #362 closed, assigned to minborg

[2021-12-18 09:23] the123saurav opened #364 "Is creating multiple ChronicleMap instance within JVM not performant?"
We are planning to use ChronicleMap on a single JVM process.
Our use-case involves typical: Read -> Modify -> Update cycles on a key.
There could be multiple requests concurrently for different keys and we want to improve performance for such cases.
Is there a way I can know the segment a particular key would map to so that I can just take a lock on that.
Basically, our idea is to create N read-wr

[2021-12-20 08:35] minborg commented on #364
Increasing the number of segments would reduce the probability of lock contention but would increase the total required data size (ChonicleMapBuilder::minSegments).

[2021-12-29 18:14] foroughgoudarzi opened #368 "Document support ticket 516- Implementing Custom Serializers for ReplicatedMap"
@foroughgoudarzi please add a description

[2022-01-03 11:38] minborg commented on #228
These are now removed so closing.

[2022-01-03 11:38] #228 closed

[2022-01-03 11:40] minborg commented on #268
As value objects are mutable, they can be reused. Also, some of them are specialized holding a primitive value only, which speeds up serialization.

[2022-01-03 11:40] #268 closed, assigned to minborg

[2022-01-03 11:46] minborg commented on #227
Chronicle Map is using 64-bit memory mapping for persisted maps.

Here is a thread on off-heap memory usage: https://stackoverflow.com/questions/16697135/monitor-non-heap-memory-usage-of-a-jvm

[2022-01-03 11:46] #227 closed

[2022-01-03 11:52] minborg commented on #360
The problem seems to be resolved according to https://stackoverflow.com/questions/62325539/eclipse-jdk-11-problem-the-type-java-lang-string-cannot-be-resolved-it-is-indi

Feel free to reopen if that is not the case.

[2022-01-03 11:52] #360 closed, assigned to minborg

[2022-01-03 12:08] minborg commented on #200
The actual number of entries that can be put in a map depends on several factors including how keys are hashed out on different segments, actual key/value size and many other things. Make sure there is plenty of room in your maps before putting data. If you expect 2000 entries, then make sure not to under-provision the number of entries. Relying on extra segments being allocated is not a good stra

[2022-01-03 12:08] #200 closed

[2022-01-03 12:09] minborg commented on #202
Have you been able to run a more recent version of GraalVM @Serverfrog ?

[2022-01-03 12:11] minborg commented on #203
Map has been updated many times since filing this issue, specifically code involved above. Are you able to reproduce the problem under a newer version of Map? Please reopen this issue if the problem persists.

[2022-01-03 12:11] #203 closed

[2022-01-03 12:13] minborg commented on #204
I will close this issue @marinkobabic . Please reopen if your Windows Docker issues persist on newer versions.

[2022-01-03 12:13] #204 closed

[2022-01-03 12:25] minborg commented on #214
Can we close this issue @RobAustin as we now have a test for it?

[2022-01-03 12:55] minborg commented on #354
I have added tests that try to reproduce your problem. When they pass on all our build platforms, this issue will be automatically closed. Please reopen if the problem persists @mickyloo

[2022-01-03 13:10] minborg commented on #233
I have added a reproducing test. Once it passes on all platforms, this issue will be closed automatically..

[2022-01-03 13:15] minborg commented on #251
The latest version is 3.22ea5. Please confirm the problem is in that version and I can have a look at it.

[2022-01-03 13:18] minborg commented on #271
Please read more on the issue here: https://chronicle.software/chronicle-support-java-17/

I am closing this issue now. Please reopen if appropriate.

[2022-01-03 13:18] #271 closed, assigned to minborg

[2022-01-03 13:20] minborg commented on #295
This is fixed now:

![image](https://user-images.githubusercontent.com/7457876/147935065-45f6ae02-e486-4800-9c9f-b12e80ab6abd.png)

[2022-01-03 13:20] #295 closed, assigned to minborg

[2022-01-03 13:21] minborg commented on #305
Can we close this now @JerryShea ?

[2022-01-03 13:22] minborg commented on #310
Is this easily fixed @glukos ?

[2022-01-03 13:23] minborg commented on #311
Is this related to the problems we fixed in the CRMIC last autumn? Can we close this now @alamar ?

[2022-01-03 13:26] minborg commented on #317
Is it still slow? I know Peter did some work on sparse files but maybe not related to Map? How do we progress with this issue @nicktindall ?

[2022-01-03 13:28] minborg commented on #318
What is the status of this issue @JerryShea ? What needs to be done (if anything)?

[2022-01-03 13:29] minborg commented on #325
It builds now using `-Pjava11` so I am closing this issue.

[2022-01-03 13:29] #325 closed, assigned to minborg

[2022-01-03 14:22] minborg commented on #334
Apparently, the following implementation class is needed:

![image](https://user-images.githubusercontent.com/7457876/147941543-c3aca38d-9729-463b-a96a-500a04de1ccc.png)

[2022-01-03 14:31] minborg commented on #342
What is the status of this @alamar ? Shall we merge the PR or not?

[2022-01-03 14:35] minborg commented on #364
Also, you can create several CM instances as the title implies. I am closing this issue now. Please reopen if you need more info.

[2022-01-03 14:35] #364 closed, assigned to minborg

[2022-01-03 14:38] #91 closed

[2022-01-03 14:42] minborg commented on #95
I am closing this issue. Please reopen if the problem can be seen again. I think spinning on a lock that's been left behind due to a previous crash and where no recovery operation was performed is ok.

[2022-01-03 14:42] #95 closed

[2022-01-03 14:43] minborg commented on #99
Closing as per the workaround provided above.

[2022-01-03 14:43] #99 closed

[2022-01-03 14:45] minborg commented on #104
Make sure you have a complete JDK. I am closing this issue. Please reopen if the problem persists in recent versions of Chronicle Map

[2022-01-03 14:45] #104 closed

[2022-01-03 14:46] minborg commented on #105
@RobAustin can we close this issue?

[2022-01-03 14:47] minborg commented on #106
@RobAustin Is this something we are going to do or can we close the issue?

[2022-01-03 14:50] minborg commented on #109
@RobAustin Can we close this and leave Map as it is?

[2022-01-03 14:52] minborg commented on #113
I am closing this @colomb001 . Please reopen if still relevant and report back.

[2022-01-03 14:52] #113 closed

[2022-01-03 14:57] minborg commented on #117
I am closing this issue as there seems to be another way of doing it as indicated by @deridex . Please reopen if not.

[2022-01-03 14:57] #117 closed

[2022-01-03 14:59] minborg commented on #120
This appears to be fixed. Please reopen if not.

[2022-01-03 14:59] #120 closed

[2022-01-03 15:01] minborg commented on #123
I am closing this issue now @Quurks . Let me know if you want the issue reopened (if the problem remains in a more recent version of Map)

[2022-01-03 15:01] #123 closed

[2022-01-03 15:06] minborg commented on #124
We have updated Chronicle Map in recent versions. Please indicate if the problem persists in `2.22ea21` @mrbald @sebastian-schmitt and @lyutenko and if so, please provide a reproducible test we can run.

[2022-01-03 15:11] minborg commented on #127
I am closing this issue as it appears to be solved using the PR merged in Core. @rogeriovalente please raise a separate issue if you still have problems with your map.

[2022-01-03 15:11] #127 closed

[2022-01-03 15:13] minborg commented on #129
I am closing this issue now as per the suggestions made in leventov's answer. Please reopen the issue if the problem persists.

[2022-01-03 15:13] #129 closed

[2022-01-03 15:24] minborg commented on #130
I am closing this issue now @osnatn1984. From a performance perspective, having more RAM than the map itself occupies is a good thing.

[2022-01-03 15:24] #130 closed

[2022-01-03 15:26] minborg commented on #132
I am closing this issue now @subodh-shrivastava . Please provide a test that reproduces the problem if you want to reopen the issue. Thank you.

[2022-01-03 15:26] #132 closed

[2022-01-03 15:30] minborg commented on #133
I assume you fixed the issue @gowrishankarsundersc using @peter-lawrey tips on detecting process death. If not, please reopen this issue.

[2022-01-03 15:30] #133 closed

[2022-01-03 15:32] minborg commented on #137
I am closing this issue as the `@Group` annotations appear to have fixed the issue.

[2022-01-03 15:32] #137 closed

[2022-01-03 15:40] #109 closed

[2022-01-03 15:54] minborg commented on #31
Closing as there is nothing more to do.

[2022-01-03 15:54] #31 closed

[2022-01-03 16:22] colomb001 commented on #113
I'm sorry. We no longer had any Windows 7 machines in the office to test.
Thank you for closing.

Alex

On Mon, Jan 3, 2022 at 8:53 AM Per-Åke Minborg ***@***.***>
wrote:

[2022-01-03 21:59] JerryShea commented on #318
@minborg Chronicle Wire method readers and writers ask the DTO (`BytesMarshallable#usesSelfDescribingMessage`) whether to use Wire marshalling vs Bytes marshalling but Chronicle Map uses an alternate mechanism to decide how to marshall a DTO.

IMO all I think we should do is document that Map does not refer to `usesSelfDescribingMessage`. @foroughgoudarzi @rogersimmons what do you think?

[2022-01-03 22:05] JerryShea commented on #305
yes!

[2022-01-03 22:05] #305 closed, assigned to nobody

[2022-01-04 06:04] nicktindall commented on #317
I re-enabled it, and it looks fixed. It:
- Runs fine on my machine
- But it [failed](https://github.com/OpenHFT/Chronicle-Map/runs/4698583819?check_suite_focus=true) in github actions,
- Succeeded quickly [in TC](https://teamcity.chronicle.software/buildConfiguration/Chronicle_ChronicleMap_SnapshotLinux64/641135?showRootCauses=false&expandBuildChangesSection=true)

[2022-01-04 06:30] nicktindall commented on #317
Please merge that PR if you're happy, merging it will close this issue

[2022-01-04 08:00] RobAustin commented on #214
Closing as we received no further feedback from the client - and we now have the AutoResizeTest

[2022-01-04 08:00] #214 closed

[2022-01-04 08:06] RobAustin commented on #105
Setting to "won't fix" and closing.

[2022-01-04 08:06] #105 closed

[2022-01-04 08:06] RobAustin commented on #106
setting to "won't fix" and closing.

[2022-01-04 08:06] #106 closed

[2022-01-04 10:26] kennycheung commented on #251
Hi @minborg

I've performed a quick test and the problem no longer appears to exist in 3.22ea5.

In the example above, recoverPersistedTo now correctly returns a size of 3_000_000 on the re-opened map.  Checking the contents of the map also shows all the values are as expected.

Thanks for your help.

[2022-01-04 10:26] #251 closed, assigned to nobody

[2022-01-04 10:30] minborg opened #374 "Only run HugeSparseMapTest on TC"
GH Actions cannot run these tests.

[2022-01-04 14:02] minborg opened #376 "Failure to acquire lock on allocating a new tier in combination with acquireContext"
Apparently, the same lock might be acquired by `acquireContext()` and `VanillaChronicleHash.allocateTier()` and because the lock is not reentrant, it fails when allocating a new tier.

See `WordCountTest`

[code]

[2022-01-04 14:19] minborg commented on #148
I am closing this issue now in anticipation that the problem is fixed. If not, please provide a reproducing test and reopen the issue.

[2022-01-04 14:19] #148 closed

[2022-01-04 14:22] minborg commented on #79
We have added file locking to protect concurrent invocation of recovery operations. If there is someone willing to sponsor the proposals mentioned above, please reopen this issue.

[2022-01-04 14:22] #79 closed

[2022-01-04 14:24] minborg commented on #149
We have added file locking to protect from invoking recovery operations simultaneously. I am closing this issue now. Feel free to reopen if deemed to still be relevant.

[2022-01-04 14:24] #149 closed

[2022-01-04 14:30] #185 closed

[2022-01-04 14:32] minborg commented on #186
This is related to https://github.com/OpenHFT/Chronicle-Map/issues/376

[2022-01-04 15:58] #354 closed, assigned to minborg

[2022-01-04 15:58] #142 closed

[2022-01-04 15:58] #233 closed

[2022-01-04 15:58] #374 closed, assigned to minborg

[2022-01-05 08:28] minborg commented on #121
Closing as wontfix

[2022-01-05 08:28] #121 closed

[2022-01-05 08:28] minborg commented on #116
Closing as wontfix

[2022-01-05 08:28] #116 closed

[2022-01-05 08:28] minborg commented on #115
Closing as wontfix

[2022-01-05 08:28] #115 closed

[2022-01-05 08:29] minborg commented on #114
Closing as wontfix

[2022-01-05 08:29] #114 closed

[2022-01-05 08:29] minborg commented on #108
Closing as wontfix

[2022-01-05 08:29] #108 closed

[2022-01-05 08:29] minborg commented on #107
Closing as wontfix

[2022-01-05 08:29] #107 closed

[2022-01-05 08:31] minborg commented on #202
Closing as wontfix

[2022-01-05 08:31] #202 closed

[2022-01-05 14:28] minborg commented on #124
Absent any comments, I am closing this issue for now. Please reopen if the error persist in 2.22ea21 or later.

[2022-01-05 14:28] #124 closed

[2022-01-06 19:30] RobAustin opened #381 "Fixed wordCountTest - Position: 252924 > readLimit: 236096"
see https://teamcity.chronicle.software/viewLog.html?buildId=642243&buildTypeId=OpenHFT_BuildAll_BuildJava8compileJava8

[code]

Send a message to Per Minborg

[2022-01-06 23:53] #190 closed

[2022-01-07 17:09] minborg opened #382 "Guard closing"
Closing may fail if there are outstanding write locks. We could try and wait for a while closing for all the locks to be released.

[2022-01-10 09:54] alamar commented on #311
I'm not sure, can you point me to the fix @minborg ?

[2022-01-10 09:55] alamar commented on #342
I have not seen this error for some time, and @glukos told me there's a non-empty check earlier in the code, so it should only arise when debugging, pausing/killing JVM. Let's close it now, we can re-open later if we see this happening again.

[2022-01-10 18:56] minborg commented on #311
Here it is @alamar https://github.com/ChronicleEnterprise/Chronicle-Map-Enterprise/issues/64

[2022-01-11 21:48] JerryShea commented on #222
Related to https://github.com/OpenHFT/Stage-Compiler/issues/1 ?

[2022-01-12 11:30] minborg commented on #222
Yes @JerryShea . Probably related. Now that we do not use the annotation processor, this problem might have gone. I will have a look.

[2022-01-12 16:32] fgoepel commented on #105
Is there a rationale for this somewhere? It's a bit of shame, as it basically disqualifies ChronicleMap from any use case with continuous data growth that can't just be pre-provisoned. LMDB and libmdbx appear to handle this well enough by having a fixed map with an expansion step instead of the perfomance footgun ChronicleMap seems to exhibit in such a case. (Correct me if I'm wrong here.)

[2022-01-12 16:37] minborg commented on #105
@shado23 Having a pre-allocated fixed layout improves performance, determinism and reduces complexity. Feel free to submit a PR with dynamic resizing.

[2022-01-12 16:55] #382 closed, assigned to minborg

[2022-01-14 07:19] hft-team-city commented on #374
Released in [Chronicle-Map-3.22ea6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea6), [BOM-2.22ea86](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea86)

[2022-01-14 07:19] hft-team-city commented on #233
Released in [Chronicle-Map-3.22ea6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea6), [BOM-2.22ea86](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea86)

[2022-01-14 07:19] hft-team-city commented on #354
Released in [Chronicle-Map-3.22ea6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea6), [BOM-2.22ea86](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea86)

[2022-01-14 07:19] hft-team-city commented on #142
Released in [Chronicle-Map-3.22ea6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea6), [BOM-2.22ea86](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea86)

[2022-01-14 07:19] hft-team-city commented on #190
Released in [Chronicle-Map-3.22ea6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea6), [BOM-2.22ea86](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea86)

[2022-01-14 07:19] hft-team-city commented on #382
Released in [Chronicle-Map-3.22ea6](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22ea6), [BOM-2.22ea86](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea86)

[2022-01-14 15:21] minborg opened #385 "Deflake CHMUseCasesTest"
https://teamcity.chronicle.software/buildConfiguration/OpenHFT_BuildAll_BuildJava8compileJava8/643627?buildTab=overview&showRootCauses=false&expandBuildProblemsSection=true&expandBuildTestsSection=true

[code]

[2022-01-18 02:36] JerryShea opened #387 "Test/documentation of Chronicle Map on docker"
In the [documentation](https://github.com/OpenHFT/Chronicle-Map/blob/2881940e49fb1c74cdd6692b1235bb4dca8ea2c7/docs/CM_FAQs.adoc#will-chronicle-map-work-in-docker-environments) we say that we have not tested CM with docker.

I would hope that so long as we follow the [same advice we give CQ users](https://github.com/OpenHFT/Chronicle-Queue/blob/3498a1b582dd3adf6d26491e47eb9ac90cb6c665/docs/FAQ.adoc

[2022-01-18 08:43] rogersimmons commented on #318
Agreed. @foroughgoudarzi - could you add a sentence or two to this effect. Thanks

[2022-01-21 04:11] #317 closed, assigned to peter-lawrey

[2022-01-24 09:08] #385 closed, assigned to minborg

[2022-01-24 15:06] isharawijesinghe opened #390 "Chronicle-Map Oracle JDK 11 Support Issue"
Chronicle-Maps has used "jdk.internal.ref.Cleaner" in their latest releases, while oracle JDK 11 supports "java.lang.ref.Cleaner" (https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8149925) . This causing JDK 11 upgrade issue

[2022-01-24 15:24] isharawijesinghe commented on #390
`Caused by: java.lang.RuntimeException: java.lang.ClassNotFoundException: jdk.internal.ref.Cleaner from [Module "deployment.DFNNTPOMS_X_X_3.003.000.00.0.ear" from Service Module Loader]
    at deployment.DFNNTPOMS_X_X_3.003.000.00.0.ear//net.openhft.chronicle.hash.impl.util.CleanerUtils.<clinit>(CleanerUtils.java:42)
    ... 63 more
Caused by: java.lang.ClassNotFoundException: jdk.internal.ref.Cle

[2022-01-24 22:03] JerryShea commented on #390
hi @isharawijesinghe, Chronicle Map is supported on Java 11.

If you look at `net.openhft.chronicle.hash.impl.util.CleanerUtils` you will see it takes account of JVM version to resolve the cleaner class. Can you debug in to https://github.com/OpenHFT/Chronicle-Map/blob/23597364ba9b6c48055ba5fdbb5403d64d9f5dc1/src/main/java/net/openhft/chronicle/hash/impl/util/CleanerUtils.java#L33 to see why it is

[2022-01-24 22:16] JerryShea commented on #390
Chronicle Map is supported on Java 11 - please try with command line args as per https://chronicle.software/chronicle-support-java-17/ and if you still see a problem please re-open!

[2022-01-24 22:16] #390 closed, assigned to nobody

[2022-01-25 01:40] isharawijesinghe commented on #390
Tried the above workaround but the problem still persists. I have passed the `following` JVM parameters

`JAVA_OPTS: "-Dprogram.name=standalone.bat -Xms64M -Xmx512M -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true
-Djboss.modules.system.pkgs=org.jboss.byteman --add-exports=java.base/jdk.internal.ref=ALL-UNNAMED
--add-exports=java.base/sun.nio.ch=ALL-UNNAMED --add-exp

[2022-01-25 01:47] #387 closed, assigned to JerryShea

[2022-01-25 01:49] isharawijesinghe commented on #390
Plus here exception is not `In accessible exception`, so exporting will not help. But the problem is `java.lang.ClassNotFoundException` due to JDK crrently replaced `java.lang.ref.Cleaner` instead of `jdk.internal.ref.Cleaner`

[2022-01-25 01:53] isharawijesinghe commented on #390
In case if it is helpful i will paste exception here as well

`2022-01-25 07:06:58,774 ERROR [stderr] (ServerService Thread Pool -- 75) net.openhft.chronicle.core.Jvm: Unable to determine max direct memory

2022-01-25 07:06:59,030 ERROR [net.openhft.chronicle.hash.impl.util.CleanerUtils] (ServerService Thread Pool -- 75) Unable to initialise CleanerUtils: java.lang.ClassNotFoundException: jdk.inte

[2022-01-25 02:03] JerryShea commented on #390
I have ran the Chronicle Map unit tests under Oracle Java 11 and all good
[code]
Maybe something else in your environment?

[2022-01-25 02:08] isharawijesinghe commented on #390
Can you look into the exception I have posted? it says `jdk.internal.ref.Cleaner` class can not be found

[2022-01-25 02:09] isharawijesinghe commented on #390
According to Oracle documentaion https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/ref/Cleaner.html it has
`java.lang.ref.Cleaner`

[2022-01-25 03:29] isharawijesinghe commented on #390
![image](https://user-images.githubusercontent.com/26687701/150905587-f397f771-0ae6-4cb4-b260-8719a13b9484.png)

`net.openhft.chronicle.hash.impl.util.CleanerUtils` class required "jdk.internal.ref.Cleaner" which can not be found ?

[2022-01-26 06:23] isharawijesinghe opened #391 "jdk.internal.ref.Cleaner Not Found In JDK 11"
Chronicle-Map is giving `java.lang.ClassNotFoundException: jdk.internal.ref.Cleaner` in JDK 11. Currently `jdk.internal.ref.Cleaner` is replaced by `java.lang.ref.Cleaner`. Therefore  `jdk.internal.ref.Cleaner`  is not available anymore

![image](https://user-images.githubusercontent.com/26687701/151113623-aaee900a-ee8e-406a-995f-9188824651c0.png)

[2022-01-26 11:22] isharawijesinghe commented on #391
`2022-01-26 11:41:10,706 ERROR [net.openhft.chronicle.hash.impl.util.CleanerUtils] (ServerService Thread Pool -- 76) Unable to initialise CleanerUtils: java.lang.ClassNotFoundException: jdk.internal.ref.Cleaner from [Module "deployment.DFNNTPOMS_X_X_3.003.000.00.0.ear" from Service Module Loader]
	at org.jboss.modules.ModuleClassLoader.findClass(ModuleClassLoader.java:198)
	at org.jboss.modules.Co

[2022-01-26 11:22] isharawijesinghe commented on #391
[server.log](https://github.com/OpenHFT/Chronicle-Map/files/7941331/server.log)

[2022-01-26 11:33] isharawijesinghe commented on #391
@minborg can you help with this

[2022-01-30 22:21] JerryShea commented on #391
This is similar/duplicate of https://github.com/OpenHFT/Chronicle-Map/issues/390

It seems likely that this is something environmental - from your stack trace it appears you are running inside JBoss and it is possible that class resolution/loading is behaving differently when compared with running outside of JBoss.

@isharawijesinghe if you need prioritised help with an issue you can reach out to

[2022-02-06 08:03] javafanboy opened #394 "Using ChronicleMap as a Cache?"
Do you have any thoughts on introducing a way to include metadata and other extension points in ChronicleMap allowing it to be used as a cache (i.e. I would like to avoid having to redundantly store all the keys one more time for associating them with the required meta data like frequency, most recently get or put request etc.)?

[2022-02-19 12:06] maxim5 opened #399 "NPE in DataAccess.copy"
[code]

[2022-02-20 08:30] minborg commented on #399
We made some updates to Map a while ago. Would it be possible for you to try a later 3.22 version such as chronicle-map-3.22ea6

[2022-02-24 07:53] Aravind-Babu-18 opened #400 "ChronicleMap - Max Entry Limit reduces after removing few entries"
Chronicle Map Versions I used - 3.22ea6 / 3.22ea5 / 3.21.86

I am trying to delete few unnecessary entries and add new entries. But the Chronicle Map throws Exception even before the configured Max Entries limit reaches.

Shown below a sample code.
[code]
The above code yields the following result.
<details>
  <summary>
Added a Summary of the Result. Please see the drop-down for the full Result If

[2022-03-03 06:53] shivamka1 opened #405 "posix_fallocate() returned 28"
Trying to creat chronicle maps file:
[code]

pom.xml
[code]

Throws exception:
[code]

What can I do to fix this?

[2022-03-03 07:55] minborg commented on #405
During the past months, we have updated Map and fixed numerous issues. Are you able to update to the latest version chronicle-map-3.22ea6?

[2022-03-03 08:49] shivamka1 commented on #405
This issue was caused because `.entries(1024 * 1024 * 1024)` was creating a file of size `35G` but my `/tmp` disk space was smaller. I changed the location to create `ids.dat` to a disk with larger space and it worked! Thanks.

[2022-03-03 08:49] #405 closed, assigned to nobody

[2022-03-09 09:25] hft-team-city commented on #387
Released in [Chronicle-Map-3.23ea0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.23ea0), [BOM-2.22.129](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.129)

[2022-03-09 09:25] hft-team-city commented on #385
Released in [Chronicle-Map-3.23ea0](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.23ea0), [BOM-2.22.129](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.129)

[2022-04-11 12:20] MarshalOfficial opened #414 "overwrite or time-to-live feature"
does ChronicleMap have the ability to overwrite when data is full? or can it has time-to-live, that when the time exceeds that value removes from entries?

[code]

[2022-04-12 07:52] #318 closed, assigned to foroughgoudarzi

[2022-04-25 07:18] eix128 opened #416 "Chronicle-Map UDP Replication feature"
Hi does Chronicle Map has UDP Replication support for Broadcasting ?
TCP is much slower then UDP on broadcasting.
It would be good to add UDP support if not.
There are some reliable udp libraries like Aeron for that.
Also checkout
https://github.com/ChiralBehaviors/udt-java
https://github.com/real-logic/aeron
https://github.com/eleventy7/aeron-cookbook-code

[2022-04-26 01:15] JerryShea commented on #416
Hi @eix128, we have support for UDP messaging in our enterprise suite - please contact sales@chronicle.software if you would like to discuss.

[2022-04-26 01:15] #416 closed, assigned to nobody

[2022-04-26 12:03] kkoemets opened #417 "Upgrading chronicle-map "2.4.11" -> "3.17.8", lockTimeOut removal"
Hi,

I have stumbled upon a small microservice which is using `chronicle-map 2.4.11`, but it does not work when upgrading to `Java 11` from `Java 8`. `chronicle-map 3.17.8`works just fine with exception of a removed method `lockTimeOut(long lockTimeOut, TimeUnit unit)` from `ChronicleMapBuilder`. I am not familiar with the microservice nor with the lovely library of yours, but I have read the foll

[2022-05-16 09:24] minborg opened #423 "The lock file is not always closed"
When `ChronicleMap` construction fails, it can leave a file open. On Windows, it’s then impossible to delete that file because it’s still in use.

[2022-05-18 12:25] #423 closed, assigned to minborg

[2022-05-24 12:27] hft-team-city commented on #423
Released in [Chronicle-Map-3.23ea2](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.23ea2), [BOM-2.23ea61](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea61)

[2022-05-26 12:59] #195 closed

[2022-05-26 13:12] RobAustin commented on #381
@minborg plese retest and if fixed, close.

[2022-05-31 16:13] j4sm1ne96 opened #427 "Add a systemProperties.adoc with a table of system properties"

[2022-06-03 16:09] alamar opened #429 "NoUpperBoundChunksPerEntryTest.noUpperBoundChunksPerEntryTest is flaky"
[code]

[2022-06-06 11:44] alamar opened #430 "ExitHookTest is flaky on Java 17"
[code]

[2022-06-06 12:27] #427 closed, assigned to j4sm1ne96

[2022-06-06 16:21] minborg commented on #381
I ran it locally over 200 times with no failure. So, closing

[2022-06-06 18:22] #381 closed, assigned to minborg

[2022-06-17 19:16] foroughgoudarzi commented on #368
@alamar could you please provide some info about this ticket, what should be documented?

[2022-06-22 17:19] alamar commented on #368
I think we should discuss it with @glukos
ChronicleMapBuilder.valueMarshaller is the setting that we want to expose in `ReplicatedMapCfg`

[2022-06-23 07:24] foroughgoudarzi commented on #368
@glukos could you please provide more info on this?

[2022-07-06 14:02] priyamvar opened #436 "Reading map using ChronicleMap-3 ( created from Chroncile-map2 library)"
We were using Chroncile Map2. and want to upgrade to ChronilceMap3 .
In some scenarios, we might want to read persisted map (created using ChornicleMap2) using ChronicleMap3

Error while reading persisted File:
Exception in thread "main" java.io.IOException: file=I:\test\map The file is shorter than the header size: 775684352, file size: 9227776
                at net.openhft.chronicle.hash.impl.V

[2022-07-08 00:28] JerryShea commented on #436
Hi @priyamvar, for prioritised support of old versions can I point you to https://chronicle.software/support/

[2022-07-08 00:28] #436 closed, assigned to nobody

[2022-07-08 00:31] JerryShea commented on #399
Closing as no response received

[2022-07-08 00:31] #399 closed, assigned to nobody

[2022-07-08 00:32] #391 closed, assigned to nobody

[2022-07-08 00:34] JerryShea commented on #376
Closing as I believe this has been fixed

[2022-07-08 00:34] #376 closed, assigned to nobody

[2022-07-08 08:15] priyamvar commented on #436
Hi Jerry,
Thanks for your timely response.
I am asking this question in general. if there is a possbility of reading chronicle map2 from chronicle map-3?

[2022-07-20 16:26] alamar commented on #342
I can reliably see this issue when creating map from two processes: https://github.com/OpenHFT/Chronicle-Map/pull/437

[2022-07-22 10:51] alamar commented on #311
I didn't think this issue for some time, marking as closed.

[2022-07-22 10:51] #311 closed, assigned to nobody

[2022-07-22 18:49] #342 closed, assigned to alamar

[2022-07-25 17:27] hft-team-city commented on #342
Released in [Chronicle-Map-3.23ea3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.23ea3), [BOM-2.23ea96](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea96)

[2022-07-25 17:27] hft-team-city commented on #381
Released in [Chronicle-Map-3.23ea3](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.23ea3), [BOM-2.23ea96](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea96)

[2022-07-25 18:54] hft-team-city commented on #342
Released in [Chronicle-Map-3.22.8](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.22.8), [BOM-2.22.149](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.149)

[2022-08-02 12:00] peter-lawrey opened #440 "Added MapHandler for remote access to a map"

[2022-08-09 04:43] JerryShea commented on #334
Closing as I believe fixed - I can't see this problem in the Java 11 javadoc build

[2022-08-09 04:43] #334 closed, assigned to nobody

[2022-08-11 16:49] alamar commented on #430
Still flaky on Java 17

[2022-08-26 00:06] JerryShea commented on #430
now
[code]

[2022-08-26 17:11] alamar commented on #430
[code]

Apparently, header is written as locked before the hook is installed. We should check for that.

[2022-08-31 17:06] #430 closed, assigned to alamar

[2022-09-07 08:44] JerryShea opened #446 "BytesMarshallableReaderWriter#read wraps Bytes in Bytes"
We now log.warn if you wrap a Bytes in Bytes - https://github.com/OpenHFT/Chronicle-Bytes/pull/428

`BytesMarshallableReaderWriter#read` does this - should investigate how to not do this

[2022-09-16 04:00] JerryShea commented on #446
So does `CompiledReplicatedMapQueryContext.InputKeyBytesData#initInputKeyBytes`

[2022-09-19 02:31] JerryShea commented on #186
@amritkumar123 @amandeep0440 @ksiu could you re-rest now that #376 has been fixed?

[2022-09-19 02:31] JerryShea commented on #197
@edudar is this still a relevant question for you?

[2022-09-19 02:33] JerryShea commented on #394
@javafanboy this sounds like a question for consultancy. Suggest you contact sales@chronicle.software

[2022-09-19 02:33] #394 closed, assigned to nobody

[2022-09-19 03:19] #446 closed, assigned to JerryShea

[2022-09-20 19:00] hft-team-city commented on #446
Released in [Chronicle-Map-3.23ea4](https://github.com/OpenHFT/Chronicle-Map/releases/chronicle-map-3.23ea4), [BOM-2.23ea121](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea121)

[2022-09-29 07:31] rgansevles opened #450 "Released 3.23.5 depends on ea/snapshot versions"
Hi,

When I update to the latest 3.23.5 version of chronicle-map I get a dependency issue because it depends transitively on a SNAPSHOT version:

_Failed to collect dependencies at net.openhft:chronicle-map:jar:3.23.5 -> net.openhft:affinity:jar:3.23ea1: Failed to read a
rtifact descriptor for net.openhft:affinity:jar:3.23ea1: net.openhft:third-party-bom:pom:3.22.4-SNAPSHOT was not found_

Rob

[2022-09-29 09:13] JerryShea commented on #450
https://github.com/OpenHFT/Java-Thread-Affinity/pull/96

[2022-09-29 10:26] JerryShea commented on #450
@rgansevles when the next x.23 chronicle-bom is released it will have a dependency on net.openhft:affinity:jar:3.23ea2 which won't have that snapshot dependency. I would advise you to use chronicle-bom to ensure you pick up the right versions. I am going to close this now as the release should be done today

[2022-09-29 10:26] #450 closed, assigned to JerryShea

[2022-10-17 04:22] JerryShea commented on #325
To build and run Chronicle products on Java 11/17 please see also https://chronicle.software/chronicle-support-java-17/ for instructions to run on Java 11/17

[2022-11-23 12:01] foroughgoudarzi commented on #368
Stock ReplicatedMapCfg is not able to express valueMarshaller(), but it is possible to do in the subclass:

public class MarshallableReplicatedMapCfg<K, V extends Marshallable> extends ReplicatedMapCfg<K, V> {

    public ChronicleMapBuilder<K, V> mapBuilder(byte localHostId) {
        ChronicleMapBuilder<K, V> builder = super.mapBuilder(localHostId);
        builder.valueMarshaller(new Marshallab

[2022-11-25 16:05] #368 closed, assigned to foroughgoudarzi